{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Support center: %sc%' | trans({'%sc%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'Viewing Support center: %sc%' | trans({'%sc%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h3>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Name' | trans }}</th>
            <td>{{ entity.getName() }}</td>
        </tr>
        <tr>
            <th>{{ 'Address' | trans }}</th>
            <td>{{ entity.getAddress() }}</td>
        </tr>
        <tr>
            <th>{{ 'Postal Code' | trans }}</th>
            <td>{{ entity.getPostalCode() }}</td>
        </tr>
        <tr>
            <th>{{ 'City' | trans }}</th>
            <td>{{ entity.getCity() }}</td>
        </tr>
        <tr>
            <th>{{ 'Coordinator' | trans }}</th>
            <td>
            {% if entity.getCoordinator() is not empty %}
            <a href="{{ path('kras_employee_show', { id: entity.getCoordinator().getId() }) }}" class="label label-info">{{ entity.getCoordinator() }}</a>
            {% else %}
            <span class="label label-danger">{{ 'No coordinator set' | trans }}</span>
            {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ 'Sections' | trans }}</th>
            <td>
                {% if entity.sections | length > 0 %}
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>{{ 'Name' | trans }}</th>
                            <th>{{ 'Age (minimum)' | trans }}</th>
                            <th>{{ 'Age (maximum)' | trans }}</th>
                            <th>{{ 'Description' | trans }}</th>
                            <th>{{ 'Enabled?' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for section in entity.getSections() %}
                        <tr>
                            <td>{{ section.getName() }}</td>
                            <td>{{ section.getMinimumAge() }}</td>
                            <td>{{ section.getMaximumAge() }}</td>
                            <td>{{ section.getDescription() }}</td>
                            <td>
                                {% if section.getEnabled() %}
                                <span class="label label-success">{{ 'Yes' | trans }}</span>
                                {% else %}
                                <span class="label label-danger">{{ 'No' | trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <span class="label label-danger">{{ 'None' | trans }}</span>
                {% endif %}
            </td>
        </tr>
    </table>
    {% if is_granted('ROLE_COORDINATOR') %}
    <div class="panel-footer">
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('kras_employee_index') }}">
                <i class="fa fa-group"></i> {{ 'View employees' | trans }}
            </a>
            <a class="btn btn-default" href="{{ path('kras_mysupportcenter_edit') }}">
                <i class="fa fa-edit"></i> {{ 'Edit' | trans }}
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}