{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Your dashboard' | trans %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    'bundles/kraskras/assets/nvd3js/css/*'
    filter='cssrewrite,lessphp,?yui_css' %}
    <link href="{{ asset_url }}" rel="stylesheet">
{% endstylesheets %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#graph-block" data-toggle="collapse" class="graph-block-toggle btn-block">
                        <i class="fa fa-bar-chart-o">&nbsp;</i>{{ 'Support center section graphs (click to toggle)' | trans }}
                        <i class="fa fa-chevron-down pull-right"></i>
                    </a>
                </h3>
            </div>
            <div id="graph-block" class="panel-body collapse">
                <div class="row">
                    {% for section in entity.getSections() %}
                    <div class="col-sm-3">
                        <h4> {{ section }}</h4>
                        <div class="chart section-{{ section.getId() }}">
                            <svg></svg>
                        </div>
                    </div>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ 'Your support center currently does not have any sections.' | trans }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {% if (is_granted('ROLE_COORDINATOR') and app.user.getCoordinating() is not empty) or is_granted('ROLE_HR_MANAGER') %}
        {% if queued_leaves is not empty %}
            <div class="alert alert-info">
                <h4><i class="fa fa-info fa-lg"></i> {{ 'There are leaves requiring your approval.' | trans }}</h4>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'Employees' | trans }}</th>
                            <th>{{ 'Type' | trans }}</th>
                            <th>{{ 'Data' | trans }}</th>
                            <th>{{ 'Actions' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for identifier, leave in queued_leaves %}
                            <tr>
                                <td>{{ leave['employees'] | join(', ') }}</td>
                                <td>{{ leave['type'] }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for dt in leave['data'] %}
                                            <li>
                                                {{ dt[0] | join(',') }}:
                                                <strong>
                                                    {{ dt[1] | date('H:i') }} - {{ dt[2] | date('H:i') }}
                                                </strong>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('kras_leave_approve', { identifier: identifier | default('NONE') }) }}" class="btn btn-xs btn-success"><i class="fa fa-check"></i> {{ 'Approve' | trans }}</a>
                                        <a href="{{ path('kras_leave_reject', { identifier: identifier | default('NONE') }) }}" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> {{ 'Reject' | trans }}</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if overtime_employees is not empty %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-warning"></i> {{ 'Employees with excessive amounts of overtime' | trans }}
                </h3>
            </div>
            {% if overtime_employees | length > 0 %}
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'Employee' | trans }}</th>
                        <th>{{ 'Remaining overtime hours' | trans }}</th>
                        <th>{{ 'Actions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for overtime_employee in overtime_employees %}
                    <tr>
                        <td>{{ overtime_employee.employee }}</td>
                        <td>{{ overtime_employee.overtime | number_format(2) }}</td>
                        <td>
                            {% set employee_show_path = is_granted('ROLE_HR_MANAGER') ? 'kras_leaveoverview_show' : 'kras_center_leaveoverview_show' %}
                            <a href="{{ path(employee_show_path, { id: overtime_employee.employee.getId() }) }}" class="btn btn-xs btn-info">
                                <i class="fa fa-eye"></i> {{ 'Show' | trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="panel-body">
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> {{ 'No employees were found.' | trans }}
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-warning"></i> {{ 'Administratively incomplete activities (without attendance sheet/notes)' | trans }}
                </h3>
            </div>
            <div class="panel-body">
                {% if activities | length > 0 %}
                <div class="alert alert-warning">
                    {{ 'All activities until %date% are administratively complete.' | trans({ '%date%': '<strong>' ~ activity_first.getStart() | date('Y-m-d') ~ '</strong>' }) | raw }}
                </div>
                <div class="list-group nomargin">
                    {% for activity in activities %}
                    <div class="list-group-item">
                        <h5>
                            <a href="{{ path('kras_myactivity_show', { id: activity.getId() }) }}">
                                {{ activity.getName() }}
                            </a>
                        </h5>
                        {% if activity.getDescription() is not empty %}
                        <div>{{ activity.getDescription() }}</div>
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-6">
                                <small>
                                    {% if activity.getAttendanceSheet() %}
                                    {{ '%count% ATTENDEES' | trans({ '%count%': activity.getAttendanceSheet().getAttendeeCount() }) }}
                                    {% else %}
                                    {{ 'NO ATTENDANCE SHEET' | trans }}
                                    {% endif %}
                                </small>
                            </div>
                            <div class="col-xs-6 text-right">
                                <small>
                                    {{ activity.getStart() | date('l, j F Y (d-m-Y)') }}
                                </small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> {{ 'No activities were found for your support center.' | trans }}
                </div>
                {% endif %}
            </div>
            {% if activities.getTotalItemCount() > activities.getItemNumberPerPage() %}
            <div class="panel-footer">
                {{ knp_pagination_render(activities) }}
            </div>
            {% endif %}
        </div>
        {% if is_granted('ROLE_COORDINATOR') and app.user.getCoordinating() is not empty %}
        {% include "KrasKrasBundle:Blocks:datatable.html.twig"
            with
            {
                datasource: 'kras_mydashboard_json_trainings',
                fields: [
                    'id',
                    'name',
                    'price',
                    'organizer',
                    'employee.label'
                ],
                headers: ['Id' | trans, 'Name' | trans, 'Price' | trans, 'Organizer' | trans, 'Employee' | trans, 'Actions' | trans],
                title: 'Trainings requiring approval',
                sort: {
                    column: 1,
                    direction: 'desc'
                },
                actions: {
                    crud: {
                        view: {
                            route: 'kras_center_training_show'
                        }
                    }
                },
                display_length: 10
            }
        %}
        {% endif %}
        {% include "KrasKrasBundle:Blocks:datatable.html.twig"
            with
            {
                datasource: 'kras_mydashboard_json_logentries',
                fields: [
                    'id',
                    'title',
                    'member.label',
                    'employee.label'
                ],
                headers: ['Id' | trans, 'Title' | trans, 'Member' | trans, 'Employee' | trans],
                title: 'Latest log entries',
                sort: {
                    column: 1,
                    direction: 'desc'
                },
                display_length: 10
            }
        %}
    </div>
    <div class="col-sm-6">
        {% if your_timesheets | length > 0 %}
            <div class="alert alert-danger">
                <h4><i class="fa fa-warning fa-lg"></i> {{ 'A few of your timesheets require attention, since they have not been submitted in time.' | trans }}</h4>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'Id' | trans }}</th>
                            <th>{{ 'Year' | trans }}</th>
                            <th>{{ 'Week' | trans }}</th>
                            <th>{{ 'Start date' | trans }}</th>
                            <th>{{ 'Worked hours' | trans }}</th>
                            <th>{{ 'Actions' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for timesheet in your_timesheets %}
                            <tr>
                                <td>{{ timesheet.getId() }}</td>
                                <td>{{ timesheet.getYear() }}</td>
                                <td>{{ timesheet.getWeek() }}</td>
                                <td>{{ timesheet.getStartDate() | date('Y-m-d') }}</td>
                                <td>{{ timesheet.getWorkedHours() }}</td>
                                <td><a href="{{ path('kras_mytimesheet_show', { id: timesheet.getId() }) }}" class="btn btn-xs btn-danger"><i class="fa fa-eye"></i> {{ 'Show' | trans }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if (is_granted('ROLE_COORDINATOR') and app.user.getCoordinating() is not empty) or is_granted('ROLE_HR_MANAGER') %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-warning"></i> {{ 'Timesheets requiring your attention' | trans }}
                </h3>
            </div>
            <div class="panel-body">
                {% if timesheets | length > 0 %}
                <div class="alert alert-warning">
                    {{ 'Timesheets requiring your attention: %count%.' | trans({ '%count%': '<strong>' ~ timesheets | length ~ '</strong>' }) | raw }}
                </div>
                <div class="list-group nomargin">
                    {% for timesheet in timesheets %}
                    <div class="list-group-item">
                        <h5>
                            {% set timesheet_show_path = is_granted('ROLE_HR_MANAGER') or is_granted('ROLE_DIRECTOR') ? 'kras_timesheets_show' : 'kras_center_timesheet_show' %}
                            <a href="{{ path(timesheet_show_path, { id: timesheet.getId() }) }}">
                                {{ timesheet }}
                            </a>
                        </h5>
                        <div class="row">
                            <div class="col-xs-6">
                                <small>
                                    <strong>
                                    {% if not timesheet.getSubmitted() %}
                                    {{ 'NOT SUBMITTED' | trans }}{% if timesheet.getRejected() %} (<span class="text-danger">{{ 'REJECTED' | trans }}</span>){% endif %}
                                    {% else %}
                                    {{ 'REQUIRES APPROVAL' | trans }}
                                    {% endif %}
                                    </strong>
                                </small>
                            </div>
                            <div class="col-xs-6 text-right">
                                <small>
                                    {{ 'Year %year%, week %week%' | trans({ '%year%': timesheet.getYear(), '%week%': timesheet.getWeek() }) }}
                                </small>
                            </div>
                        </div>
                        {% if timesheet.getComments() %}
                        <div>
                            <small>
                                <strong>{{ 'Comments' | trans }}:</strong> {{ timesheet.getComments() | truncate(255) }}
                            </small>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> {{ 'No timesheets were found.' | trans }}
                </div>
                {% endif %}
            </div>
            {% if timesheets.getTotalItemCount() > timesheets.getItemNumberPerPage() %}
            <div class="panel-footer">
                {{ knp_pagination_render(timesheets) }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% include "KrasKrasBundle:Blocks:datatable.html.twig"
            with
            {
                datasource: 'kras_mydashboard_json_activities',
                fields: [
                    'name',
                    {
                        field: 'start',
                        type:  'datetime'
                    },
                    'sections.name'
                ],
                headers: ['Name' | trans, 'Start' | trans, 'Sections' | trans, 'Actions' | trans],
                title: 'This week\'s activities',
                actions: {
                    crud: {
                        view: {
                            route: 'kras_myactivity_show'
                        }
                    }
                },
                sort: {
                    column: 1,
                    direction: 'desc'
                },
                display_length: 10
            }
        %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
app.page = 'mydashboard';
app.data_path = '{{ path('kras_mydashboard_json_data') }}';
</script>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@KrasKrasBundle/Resources/public/assets/d3js/js/*'
    '@KrasKrasBundle/Resources/public/assets/nvd3js/js/*'
    filter="?yui_js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
