{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Leave overview for %employee%' | trans({ '%employee%': entity }) %}

{% block body %}
{% if overtime.name is not empty %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'Special leave overview for %employee%' | trans({ '%employee%': '<strong>' ~ entity ~ '</strong>' }) | raw }}</h2>
    </div>
    {% if overtime.allowed is not empty %}
        <table class="table table-condensed table-bordered">
            <tr>
                <th>{{ 'Type' | trans }}</th>
                <th>{{ 'Allowed' | trans }}</th>
                <th>{{ 'Used' | trans }}</th>
                <th>{{ 'Remaining' | trans }}</th>
            </tr>
            <tr>
                <td>{{ overtime.name }}</td>
                <td>{{ overtime.allowed is empty ? 'None' | trans : overtime.allowed | formatTime }}</td>
                <td>{{ overtime.used | formatTime }}</td>
                <td>{{ overtime.remaining == -1 ? 'Unlimited' | trans : overtime.remaining | formatTime }}</td>
            </tr>
        </table>
    </table>
    {% else %}
    <div class="panel-body">
        <div class="alert alert-warning">
            {{ 'This employee is not allowed to register any special leave, nor have they recently registered any special leave.' | trans }}
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'Leave overview for %employee%' | trans({ '%employee%': '<strong>' ~ entity ~ '</strong>' }) | raw }}</h2>
    </div>
    {% if data is not empty %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Year' | trans }}</th>
            <th></th>
        </tr>
        {% for year, value in data %}
        <tr>
            <th>{{ year }}</th>
            <td>
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th>{{ 'Type' | trans }}</th>
                        <th>{{ 'Allowed' | trans }}</th>
                        <th>{{ 'Used' | trans }}</th>
                        <th>{{ 'Remaining' | trans }}</th>
                    </tr>
                    {% for type, val in value %}
                    <tr>
                        <td>{{ type }}</td>
                        <td>{{ val.allowed  is null ? 'Undefined' | trans : (val.allowed == -1 ? 'Unlimited' | trans : val.allowed | formatTime) }}</td>
                        <td>{{ val.used | formatTime }}</td>
                        <td>{{ val.remaining is null ? 'Undefined' | trans : (val.remaining == -1 ? 'Unlimited' | trans : val.remaining | formatTime) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="panel-body">
        <div class="alert alert-warning">
            {{ 'This employee is not allowed to register any leave, nor have they ever registered any leave.' | trans }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
