{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Employees' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_employee_index',
            fields: [
                'id',
                'username',
                'firstname',
                'lastname',
                {
                    field: 'email',
                    type: 'email'
                },
                {
                    field: 'coordinating.id',
                    type: 'boolean',
                    labels: {
                        null: 'No' | trans
                    }
                },
                {
                    field: 'enabled',
                    type: 'boolean'
                },
                {
                    field: 'expiresAt',
                    type: 'datetime',
                    labels: {
                        null: 'Never' | trans
                    }
                }
            ],
            headers: ['Id' | trans, 'Username' | trans, 'First name' | trans, 'Last name' | trans, 'Email address' | trans, 'Coordinator?' | trans, 'Account enabled?' | trans, 'Expiry' | trans, 'Actions' | trans],
            title: 'List of Employees' | trans,
            actions: {
                create: {
                    path: path('kras_employee_new')
                },
                crud: {
                    view: {
                        route: 'kras_employee_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'asc'
            }
        }
    %}
{% endblock %}