{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Add a new Employee' | trans %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Add a new Employee' | trans }}</h3>
    </div>
    <form action="{{ path('kras_employee_create') }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i> {{ 'Create' | trans }}
                </button>
                <a href="{{ path('kras_employee_index') }}" class="btn btn-default"><i class="fa fa-eraser"></i> {{ 'Cancel' | trans }}</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}