{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Employee: %employee%' | trans({'%employee%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_employee_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Employee: %employee%' | trans({'%employee%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Username' | trans }}</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>{{ 'First name' | trans }}</th>
            <td>{{ entity.getFirstName() }}</td>
        </tr>
        <tr>
            <th>{{ 'Last name' | trans }}</th>
            <td>{{ entity.getLastName() }}</td>
        </tr>
        <tr>
            <th>{{ 'Email address' | trans }}</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>{{ 'Role' | trans }}</th>
            <td>{{ entity.getRoles() | join(', ') }}</td>
        </tr>
        <tr>
            <th>{{ 'Account enabled?' | trans }}</th>
            <td>{% if entity.enabled == 1 %}<span class="label label-success">{{ 'Yes' | trans }}</span>{% else %}<span class="label label-danger">{{ 'No' | trans }}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Account expires' | trans }}</th>
            <td>{% if entity.expiresat is not empty %}<abbr class="timeago label label-{% if 'now' | date < entity.expiresat | date %}warning{% else %}danger{% endif %}" title="{{ entity.expiresat | date('c') }}">{{ entity.expiresat | date }}</abbr>{% else %}<span class="label label-info">{{ 'Never' | trans }}</span>{% endif %}
        </tr>
        <tr>
            <th>{{ 'Coordinator?' | trans }}</th>
            <td>{% if entity.getCoordinating() is defined and entity.getCoordinating() is not empty %}<span class="label label-success">{{ 'Yes' | trans }}</span>{% else %}<span class="label label-danger">{{ 'No' | trans }}</span>{% endif %}</td>
        </tr>
    </table>
    {% if is_granted('ROLE_COORDINATOR') %}
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_employee_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    <a href="{{ path('kras_employee_edit', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_employee_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}