{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Add a new Leave' | trans %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Add a new Leave' | trans }}</h3>
    </div>
    <form action="{{ path('kras_myleave_create') }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            <fieldset>
                <legend>{{ 'General information' | trans }}</legend>
                {{ form_row(form.leavetype) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Dates and Times' | trans }}</legend>
                <div class="control-group">
                    <ul class="list-unstyled dynamic-collection"
                        data-prototype="<li class='well dynamic-collection-item'>
                    <a href='#' class='btn btn-danger pull-right clearfix btn-xs dynamic-collection-item-delete'><i class='fa fa-times'></i></a>
                    {{ form_widget(form.subLeaves.vars.prototype)|e }}</li>">
                        {% for subLeave in form.subLeaves %}
                        <li class="dynamic-collection-item well">
                            <a href='#' class='btn btn-danger pull-right clearfix btn-xs dynamic-collection-item-delete'><i class='fa fa-times'></i></a>
                            {{ form_widget(subLeave) }}
                        </li>
                        {% endfor %}
                        <a href="#" class="dynamic-collection-item-add btn btn-info"><i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}</a>
                    </ul>
                </div>
            </fieldset>

            {{ form_widget(form._token) }}
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i> {{ 'Create' | trans }}
                </button>
                <a href="{{ path('kras_myleave_index') }}" class="btn btn-default"><i class="fa fa-eraser"></i> {{ 'Cancel' | trans }}</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    app.page = 'myleave/new';
    app.leavetypes = {{ leave_types | serialize('json') | raw }};
</script>
{% endblock %}
