{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Your Timesheets' | trans %}

{% block body %}
{% include "KrasKrasBundle:Blocks:datatable.html.twig"
    with
    {
        datasource: 'kras_mytimesheet_index',
        fields: [
            'id',
            'year',
            'week',
            'workedHours',
            'requiredHours',
            'overtimeHours',
            {
                field: 'submitted',
                type:  'boolean'
            },
            {
                field: 'approvedCo',
                type:  'boolean'
            },
            {
                field: 'approvedDi',
                type:  'boolean'
            },
            {
                field: 'approvedHr',
                type:  'boolean'
            },
            {
                field: 'rejected',
                type:  'boolean'
            }
        ],
        headers: ['Id' | trans, 'Year' | trans, 'Week' | trans, 'Worked hours' | trans, 'Required hours' | trans, 'Overtime hours' | trans, 'Submitted?' | trans, 'Approved? (coordinator)' | trans, 'Approved? (director)' | trans, 'Approved? (HR manager)' | trans, 'Rejected' | trans, 'Actions' | trans],
        title: 'Your Timesheets' | trans,
        actions: {
            create: {
                path: path('kras_mytimesheet_new')
            },
            crud: {
                view: {
                    route: 'kras_mytimesheet_show'
                }
            }
        },
        sort: {
            column: 0,
            direction: 'desc'
        }
    }
%}
{% endblock %}
