{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Timesheet: %timesheet%' | trans({'%timesheet%': entity }) %}
{% set editable = not entity.getSubmitted() and not entity.getApprovedCo() and not entity.getApprovedHr() and not entity.getApprovedDi() %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_mytimesheet_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Timesheet: %timesheet%' | trans({'%timesheet%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <div class="panel-body">
        <div class="clearfix">
            {% if previous %}
            <a class="btn btn-default" href="{{ path('kras_mytimesheet_show', { id: previous.getId() }) }}">
                <i class="fa fa-angle-double-left"></i>
                {{ 'Previous' | trans }}
            </a>
            {% endif %}

            {% if next %}
            <a class="btn btn-default pull-right" href="{{ path('kras_mytimesheet_show', { id: next.getId() }) }}">
                {{ 'Next' | trans }}
                <i class="fa fa-angle-double-right"></i>
            </a>
            {% endif %}
        </div>

        {% if previous or next %}<hr>{% endif %}

        {% if entity.getApprovedHr() %}
        <div class="alert alert-info">
            {{ 'This timesheet has been approved by a HR manager. It cannot be modified or deleted.' | trans }}
        </div>
        {% elseif entity.getApprovedDi() %}
        <div class="alert alert-info">
            {{ 'This timesheet has been approved by a director and is currently awaiting approval from a HR manager. It cannot be modified or deleted.' | trans }}
        </div>
        {% elseif entity.getApprovedCo() %}
        <div class="alert alert-info">
            {{ 'This timesheet has been approved by a coordinator and is currently awaiting approval from a director. It cannot be modified or deleted.' | trans }}
        </div>
        {% elseif entity.getSubmitted() %}
        <div class="alert alert-warning">
            {{ 'This timesheet has been submitted and is awaiting approval from a coordinator. It cannot be modified or deleted.' | trans }}
        </div>
        {% endif %}
        {% if entity.getRejected() %}
        <div class="alert alert-danger">
            {{ 'This timesheet has been rejected by either the HR manager, a director or a coordinator.' | trans }}
        </div>
        {% endif %}

        {% set timesheet_vars = {
            data_path          : path('kras_mytimesheet_data', { id: entity.getId() }),
            fragment_types     : fragment_types,
            approved_co        : entity.getApprovedCo(),
            approved_di        : entity.getApprovedDi(),
            approved_hr        : entity.getApprovedHr(),
            submitted          : entity.getSubmitted(),
            timesheet          : entity,
            form               : form
        } %}

        {% if editable %}
            {% set timesheet_vars = timesheet_vars | merge({
                template_list_path  : path('kras_mytimesheet_template_event_list', { id: entity.getId() }),
                create_path         : path('kras_mytimesheet_event_create', { id: entity.getId() }),
                delete_path         : path('kras_mytimesheet_event_delete', { id: entity.getId(), event_id: 'EVENT_ID' }),
                leave_path          : path('kras_mytimesheet_leaves', { id: entity.getId() }),
                update_path         : path('kras_mytimesheet_event_update', { id: entity.getId(), event_id: 'EVENT_ID' }),
                duration_update_path: path('kras_mytimesheet_event_duration_update', { id: entity.getId(), event_id: 'EVENT_ID' }),
                comments_path       : path('kras_mytimesheet_comments', { id: entity.getId() })
            }) %}
        {% endif %}

        {% include 'KrasKrasBundle:Blocks:timesheet.html.twig' with timesheet_vars %}
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_mytimesheet_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    <a href="{{ path('kras_myleave_new') }}" class="btn btn-success" target="_blank"><i class="fa fa-hand-o-right"></i> {{ 'Add leave' | trans }}</a>
                    {% if editable %}
                    <a href="{{ path('kras_mytimesheet_submit', { id: entity.getId() }) }}" class="btn btn-warning"><i class="fa fa-check-square"></i> {{ 'Submit for approval' | trans }}</a>
                    <a href="{{ path('kras_mytimesheet_autofill', { id: entity.getId() }) }}" class="btn btn-info"><i class="fa fa-dot-circle-o"></i> {{ 'Fill with overtime' | trans }}</a>
                    {% endif %}
                </div>
            </div>
            {% if editable %}
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <div class="btn-group">
                        {% if app.user is not null and is_granted("ROLE_ADMIN") %}
                            <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_timesheets_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@KrasKrasBundle/Resources/public/js/timesheets/timesheets.js'
    filter="?yui_js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
