{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Support centers' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_supportcenter_index',
            fields: [
                'id',
                'name',
                'address',
                'postalcode',
                'city',
                'coordinator.label'
            ],
            headers: ['Id' | trans, 'Name' | trans, 'Address' | trans, 'Postal code' | trans, 'City' | trans, 'Coordinator' | trans, 'Actions' | trans],
            title: 'List of Support centers',
            actions: {
                create: {
                    path: path('kras_supportcenter_new')
                },
                crud: {
                    view: {
                        route: 'kras_supportcenter_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}
