{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set  page_title = 'Add a Support center' | trans %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Add a Support center' | trans }}</h3>
    </div>
    <form action="{{ path('kras_supportcenter_create') }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            <fieldset>
                <legend>{{ 'General information' | trans }}</legend>
                {{ form_row(form.name) }}
                {{ form_row(form.address) }}
                {{ form_row(form.postalcode) }}
                {{ form_row(form.city) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Sections' | trans }}</legend>
                <div class="control-group">
                    <ul class="list-unstyled dynamic-collection"
                        data-prototype="<li class='well dynamic-collection-item'>
                    <a href='#' class='btn btn-danger pull-right clearfix btn-xs dynamic-collection-item-delete'><i class='fa fa-times'></i></a>
                    {{ form_widget(form.sections.vars.prototype)|e }}</li>">
                        {% for section in form.sections %}
                        <li class="dynamic-collection-item well">
                            <a href='#' class='btn btn-danger pull-right clearfix btn-xs dynamic-collection-item-delete'><i class='fa fa-times'></i></a>
                            {{ form_widget(section) }}
                        </li>
                        {% endfor %}
                        <a href="#" class="dynamic-collection-item-add btn btn-info"><i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}</a>
                    </ul>
                </div>

            </fieldset>

            {{ form_widget(form._token) }}
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i> {{ 'Create' | trans }}
                </button>
                <a href="{{ path('kras_supportcenter_index') }}" class="btn btn-default"><i class="fa fa-eraser"></i> {{ 'Cancel' | trans }}</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}