{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Allowed leaves' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_allowedleave_index',
            fields: [
                'id',
                {
                    field:  'employees.label',
                    type:   'string',
                    labels: {
                        null: 'All employees'
                    }
                },
                'leavetype.name',
                'year',
                'amount'
            ],
            headers: ['Id' | trans, 'Employees' | trans, 'Type' | trans, 'Year' | trans, 'Amount (hours)' | trans, 'Actions' | trans],
            title: 'List of Allowed leaves' | trans,
            actions: {
                create: {
                    path: path('kras_allowedleave_new')
                },
                crud: {
                    view: {
                        route: 'kras_allowedleave_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}
