{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Allowed leave: %allowedleave%' | trans({'%allowedleave%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_allowedleave_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Allowed leave: %allowedleave%' | trans({'%allowedleave%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Leave type' | trans }}</th>
            <td>{{ entity.getLeaveType() }}</td>
        </tr>
        <tr>
            <th>{{ 'Employees' | trans }}</th>
            <td>
                {% if entity.getEmployees() is not empty %}
                <ul class="list-unstyled">
                    {% for employee in entity.getEmployees() %}
                    <li>{{ employee }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                {{ 'All employees' | trans }}
                {% endif %}
            </td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Year' | trans }}</th>
            <td>{{ entity.getYear() }}</td>
        </tr>
        <tr>
            <th>{{ 'Amount' | trans }}</th>
            <td>{{ entity.getAmount() == -1 ? 'Unlimited' : (entity.getAmount() * 3600) | formatTime }}</td>
        </tr>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_allowedleave_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    <a href="{{ path('kras_allowedleave_edit', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_allowedleave_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
