{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Leaves' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_leave_index',
            fields: [
                'id',
                {
                    field:  'employees.label',
                    type:   'string',
                    labels: {
                        null: 'All employees'
                    }
                },
                'leavetype.name',
                {
                    field: 'startTime',
                    type:  'time'
                },
                {
                    field: 'endTime',
                    type:  'time'
                },
                {
                    field: 'leavedates.date',
                    type:  'date_array'
                },
                {
                    field: 'approved',
                    type:  'boolean'
                }
            ],
            headers: ['Id' | trans, 'Employees' | trans, 'Type' | trans, 'Start time' | trans, 'End time' | trans, 'Date(s)' | trans, 'Approved?' | trans, 'Actions' | trans],
            title: 'List of Leaves' | trans,
            actions: {
                create: {
                    path: path('kras_leave_new')
                },
                crud: {
                    view: {
                        route: 'kras_leave_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}
