{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Leave: %leave%' | trans({'%leave%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_leave_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Leave: %leave%' | trans({'%leave%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Leave type' | trans }}</th>
            <td>{{ entity.getLeaveType() }}</td>
        </tr>
        <tr>
            <th>{{ 'Employees' | trans }}</th>
            <td>
                {% if entity.getEmployees() is not empty %}
                <ul class="list-unstyled">
                    {% for employee in entity.getEmployees() %}
                    <li>{{ employee }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                {{ 'All employees' | trans }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ 'Approved' | trans }}</th>
            <td>
                {% if entity.getApproved() %}
                    <span class="label label-success">{{ 'Yes' | trans }}</span>
                {% else %}
                    <span class="label label-danger">{{ 'No' | trans }}</span>
                {% endif %}
            </td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Start time' | trans }}</th>
            <td>{{ entity.getStartTime() ? entity.getStartTime() | date('H:i') : 'None' | trans }}</td>
        </tr>
        <tr>
            <th>{{ 'End time' | trans }}</th>
            <td>{{ entity.getEndTime() ? entity.getEndTime() | date('H:i') : 'None' | trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Duration' | trans }}</th>
            <td>{{ (entity.getDuration() ? entity.getDuration | formatTime : 'Varying' | trans) }}</td>
        </tr>
        <tr>
            <th>{{ 'Date(s)' | trans }}</th>
            <td>
                <ul class="list-unstyled">
                    {% for leavedate in entity.getLeaveDates() %}
                    <li>{{ leavedate }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_leave_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    <a href="{{ path('kras_leave_edit', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
                    <a href="{{ path('kras_leave_approve', { identifier: entity.getIdentifier() | default('NONE') }) }}" class="btn btn-success"><i class="fa fa-check"></i> {{ 'Approve' | trans }}</a>
                    <a href="{{ path('kras_leave_reject', { identifier: entity.getIdentifier() | default('NONE') }) }}" class="btn btn-danger"><i class="fa fa-times"></i> {{ 'Reject' | trans }}</a>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_leave_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
