{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Timesheets' | trans %}

{% block body %}
{% include "KrasKrasBundle:Blocks:datatable.html.twig"
    with
    {
        datasource: 'kras_center_timesheet_index',
        fields: [
            'id',
            'employee.label',
            'year',
            'week',
            'workedHours',
            'requiredHours',
            'overtimeHours',
            {
                field: 'submitted',
                type:  'boolean'
            },
            {
                field: 'approvedCo',
                type:  'boolean'
            },
            {
                field: 'approvedDi',
                type:  'boolean'
            },
            {
                field: 'approvedHr',
                type:  'boolean'
            },
            {
                field: 'rejected',
                type:  'boolean'
            }
        ],
        headers: ['Id' | trans, 'Employee' | trans, 'Year' | trans, 'Week' | trans, 'Worked hours' | trans, 'Required hours' | trans, 'Overtime hours' | trans, 'Submitted?' | trans, 'Approved? (coordinator)' | trans, 'Approved (director)' | trans, 'Approved? (HR manager)' | trans, 'Rejected?' | trans, 'Actions' | trans],
        title: 'Support center %sc%: List of timesheets' | trans({ '%sc%': '<strong>' ~ supportcenter.getName() ~ '</strong>' }),
        actions: {
            crud: {
                view: {
                    route: 'kras_center_timesheet_show'
                }
            }
        },
        sort: {
            column: 0,
            direction: 'desc'
        }
    }
%}
{% endblock %}
