{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Timesheet: %timesheet%' | trans({'%timesheet%': entity }) %}
{% set approvable = entity.getSubmitted() and not (entity.getApprovedHr() or entity.getApprovedCo() or entity.getApprovedHr()) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_center_timesheet_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Timesheet: %timesheet%' | trans({'%timesheet%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <div class="panel-body">
        {% if entity.getApprovedHr() %}
        <div class="alert alert-info">
            {{ 'This timesheet has been approved by a HR manager. It cannot be modified or deleted.' | trans }}
        </div>
        {% elseif entity.getApprovedDi() %}
        <div class="alert alert-info">
            {{ 'This timesheet has been approved by a director and is currently awaiting approval from a HR manager. It cannot be modified or deleted.' | trans }}
        </div>
        {% elseif entity.getApprovedCo() %}
        <div class="alert alert-info">
            {{ 'This timesheet has been approved by a coordinator and is currently awaiting approval from a director. It cannot be modified or deleted.' | trans }}
        </div>
        {% elseif entity.getSubmitted() %}
        <div class="alert alert-warning">
            {{ 'This timesheet has been submitted and is awaiting approval from a coordinator.' | trans }}
        </div>
        {% endif %}
        {% if entity.getRejected() %}
        <div class="alert alert-danger">
            {{ 'This timesheet has been rejected by either the HR manager, a director or a coordinator.' | trans }}
        </div>
        {% endif %}

        {% set timesheet_vars = {
            data_path          : path('kras_center_timesheet_data', { id: entity.getId() }),
            leave_path         : path('kras_center_timesheet_leaves', { id: entity.getId() }),
            comments_path      : path('kras_center_timesheet_comments', { id: entity.getId() }),
            approved_co        : entity.getApprovedCo(),
            approved_hr        : entity.getApprovedHr(),
            approved_di        : entity.getApprovedDi(),
            submitted          : entity.getSubmitted(),
            timesheet          : entity
        } %}

        {% include 'KrasKrasBundle:Blocks:timesheet.html.twig' with timesheet_vars %}
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_center_timesheet_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    {% if approvable %}
                    <a href="{{ path('kras_center_timesheet_approve', { id: entity.getId() }) }}" class="btn btn-success"><i class="fa fa-check"></i> {{ 'Approve' | trans }}</a>
                    <a href="{{ path('kras_center_timesheet_reject', { id: entity.getId() }) }}" class="btn btn-danger"><i class="fa fa-times"></i> {{ 'Reject' | trans }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    {#{% if approvable %}
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_center_timesheet_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                    {% endif %}#}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@KrasKrasBundle/Resources/public/js/timesheets/timesheets.js'
    filter="?yui_js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
