{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Editing Log entry theme: %logentrytheme%' | trans({'%logentrytheme%': entity }) %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Editing Log entry theme: %logentrytheme%' | trans({ '%logentrytheme%': '<strong>' ~ entity ~ '</strong>' }) | raw }}</h3>
    </div>
    <form action="{{ path('kras_logentrytheme_update', { id: entity.getId() }) }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-8">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> {{ 'Save' | trans }}
                        </button>
                        <a href="{{ path('kras_logentrytheme_show', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-eraser"></i> {{ 'Cancel' | trans }}</a>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <div class="btn-group">
                        <a href="#" class="btn btn-danger delete-button" data-delete-target-default="{{ entity }}" data-delete-target="{{ path('kras_logentrytheme_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}