{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Members' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_member_index',
            fields: [
                'firstname',
                'lastname',
                'supportcenter.name',
                'attendancesheets.id',
                {
                    field: 'completed',
                    type:  'boolean'
                }
            ],
            headers: ['First name' | trans, 'Last name' | trans, 'Support center' | trans, 'Activity count' | trans, 'Complete?' | trans, 'Actions' | trans],
            title: 'List of Members',
            actions: {
                create: {
                    path: path('kras_member_new')
                },
                crud: {
                    view: {
                        route: 'kras_member_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            },
            customRowCallback: 'if (!aData.completed) {
                $(nRow).addClass(\'danger\');
            }'
        }
    %}
{% endblock %}