{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Member map overview' | trans %}

{% block body %}

    <div class="hidden-xs">
        <h2 class="page-header">
            {{ 'Member map overview' | trans }}
        </h2>
    </div>

    <div class="well" id="map-canvas">
        <div class="text-center"><i class="fa fa-spin fa-spinner"></i> &nbsp; Loading</div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;region=BE"></script>
{% endblock %}

{% block scripts %}
<script>
app.page = 'members/map';
app.address_list_path = '{{ path('kras_member_json_address_list') }}';
</script>
{% endblock %}