{% if form is defined %}{% form_theme form 'KrasKrasBundle:Form:fields.html.twig' %}{% endif %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% if page_title is defined %}{{ page_title }} &middot; {% endif%}Kras</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon">
{% block stylesheets %}
{% stylesheets
    'bundles/kraskras/assets/twitter-bootstrap/less/bootstrap.less'
    'bundles/kraskras/assets/font-awesome/less/font-awesome.less'
    'bundles/kraskras/assets/flags/css/*'
    'bundles/kraskras/assets/jquery-ui/css/*'
    'bundles/kraskras/assets/bootstrap-datetimepicker/css/*'
    'bundles/kraskras/assets/bootstrap-timepicker/css/*'
    'bundles/kraskras/assets/bootstrap-colorpicker/less/*'
    'bundles/kraskras/assets/chosen/css/*'
    'bundles/kraskras/assets/datatables-bootstrap/css/*'
    'bundles/kraskras/assets/fullcalendar/css/*'
    'bundles/kraskras/css/layout.css'
    filter='cssrewrite,lessphp,?yui_css' %}
    <link href="{{ asset_url }}" rel="stylesheet">
{% endstylesheets %}
{% javascripts
    '@KrasKrasBundle/Resources/public/assets/jquery/js/*'
    filter="?yui_js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
</head>
<body>
    {% if is_granted('ROLE_USER') %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">{{ 'Toggle navigation' | trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('kras_index') }}">
                <strong>Kras <span class="text-danger">REX2</span></strong>
            </a>
        </div>

        <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                {% if is_granted('ROLE_EMPLOYEE') and app.user.getSupportCenter() is not empty %}
                <li>
                    <a href="{{ path('kras_mydashboard_index') }}">
                        <i class="fa fa-tachometer"></i> {{ 'Dashboard' | trans }}
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-rocket"></i> {{ 'Activities' | trans }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li tabindex="-1"><a href="{{ path('kras_myactivity_index') }}">{{ 'Activity management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_myactivity_new') }}">{{ 'Add a new activity' | trans }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-male"></i><i class="fa fa-female"></i> {{ 'Members' | trans }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li tabindex="-1"><a href="{{ path('kras_mymember_index') }}">{{ 'Member management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_mymember_new') }}">{{ 'Add a new member' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_mymember_map') }}">{{ 'Member map overview' | trans }}</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYEE') %}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-clock-o"></i> {{ 'Time registration' | trans }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li tabindex="-1"><a href="{{ path('kras_mytimesheet_index') }}">{{ 'My timesheets' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_mytimesheettemplate_index') }}">{{ 'My timesheet templates' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_myleave_index') }}">{{ 'My leaves' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_myleaveoverview_index') }}">{{ 'My leave overview' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_mytraining_index') }}">{{ 'My trainings' | trans }}</a></li>
                        {% if is_granted('ROLE_COORDINATOR') %}
                            <li tabindex="-1"><a href="{{ path('kras_mytraining_overview') }}">{{ 'Trainings overview' | trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_COORDINATOR') and app.user.getCoordinating() is not empty %}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-map-marker"></i> {{ 'Support center' | trans }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li tabindex="-1"><a href="{{ path('kras_mysupportcenter_index') }}"><i class="fa fa-cogs"></i> {{ 'Support center configuration' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_employee_index') }}"><i class="fa fa-group"></i> {{ 'Employee management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_employee_new') }}"><i class="fa fa-angle-double-right"></i> {{ 'Add a new employee' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_center_timesheet_index') }}"><i class="fa fa-clock-o"></i> {{ 'Timesheet management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_center_activityoverview_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Activity overview' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_center_timesheetoverview_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Employee timesheet overview' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_center_training_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Training management' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_center_leaveoverview_index') }}"><i class="fa fa-calendar"></i> {{ 'Leave overview' | trans }}</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_HR_MANAGER') or is_granted('ROLE_DIRECTOR') %}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cogs"></i> {{ 'Admin' | trans }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li tabindex="-1"><a href="{{ path('kras_user_index') }}"><i class="fa fa-group"></i> {{ 'User management' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_supportcenter_index') }}"><i class="fa fa-map-marker"></i> {{ 'Support center management' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_member_index') }}"><i class="fa fa-male"></i><i class="fa fa-female"></i> {{ 'Member management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_member_map') }}"><i class="fa fa-angle-double-right"></i> {{ 'Member map overview' | trans }}</a></li>
                        <li class="divider"></li>
                        {% endif %}
                        <li tabindex="-1"><a href="{{ path('kras_timesheets_index') }}"><i class="fa fa-clock-o"></i> {{ 'Timesheet management' | trans }}</a></li>
                        {% if is_granted('ROLE_HR_MANAGER') %}
                        <li tabindex="-1"><a href="{{ path('kras_timesheettemplate_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Timesheet template management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_timefragmenttype_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Time fragment type management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_training_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Training management' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_leaveoverview_index') }}"><i class="fa fa-calendar"></i> {{ 'Leave overview' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_leave_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Leave management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_allowedleave_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Allowed leave management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_leavetype_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Leave type management' | trans }}</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_activity_index') }}"><i class="fa fa-rocket"></i> {{ 'Activity management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_activitytype_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Activity type management' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_logentry_index') }}"><i class="fa fa-comments"></i> {{ 'Log entry management' | trans }}</a></li>
                        <li tabindex="-1"><a href="{{ path('kras_logentrytheme_index') }}"><i class="fa fa-angle-double-right"></i> {{ 'Log entry theme management' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_logging_index') }}"><i class="fa fa-tasks"></i> {{ 'Logging' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('jms_translation_index') }}"><i class="fa fa-flag"></i> {{ 'Translation interface' | trans }}</a></li>
                        <li class="divider"></li>
                        <li tabindex="-1"><a href="{{ path('kras_cache_clear') }}"><i class="fa fa-refresh"></i> {{ 'Clear translation and templating cache' | trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <li><a href="#feedback-modal" data-toggle="modal"><i class="fa fa-bell text-primary"></i> {{ 'Feedback' | trans }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user.getOvertime() | default(false) %}
                    {% set overtime_count = app.user.getOvertime() %}
                    <li class="hidden-sm hidden-xs"><p class="navbar-text"><span data-provide="tooltip" data-placement="bottom" title="{{ 'Your remaining overtime' | trans }}" class="badge badge-{{ overtime_count > 40 or overtime_count < -20 ? 'danger' : overtime_count != 0 ? 'warning' : 'success' }}"><i class="fa fa-warning"></i> {{ overtime_count }}</span></p></li>
                {% endif %}
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">
                        <i class="fa fa-flag"></i> {{ 'Language'|trans }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href='{{ path("set_locale", {"locale": "en"}) }}'><i
                                    class="icon flag flag-us"></i> English</a></li>
                        <li><a href='{{ path("set_locale", {"locale": "nl"}) }}'><i
                                    class="icon flag flag-nl"></i> Nederlands</a></li>
                        {#<li><a href='{{ path("edc_shared_locale", {"locale": "fr"}) }}'><i
                                    class="icon flag flag-fr"></i> Français</a></li>
                        <li><a href='{{ path("edc_shared_locale", {"locale": "de"}) }}'><i
                                    class="icon flag flag-de"></i> Deutsch</a></li>#}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i> <strong>{{ app.user }}</strong>
                    </a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COORDINATOR') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('kras_user_show', { id: app.user.id }) }}"><i class="fa fa-user"></i> {{ 'My profile' | trans }}</a></li>
                            {% elseif is_granted('ROLE_COORDINATOR') and app.user.getCoordinating() is not empty %}
                                <li><a href="{{ path('kras_employee_show', { id: app.user.id }) }}"><i class="fa fa-user"></i> {{ 'My profile' | trans }}</a></li>
                            {% endif %}
                            <li class="divider"></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    {% endif %}

<div class="container">

    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage | raw }}
    </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage | raw }}
    </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage | raw }}
    </div>
    {% endfor %}

    {% block body %}{% endblock %}

    {% if is_granted('ROLE_USER') %}
    <!-- Delete confirmation dialog -->
    <div class="modal fade" id="delete-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-warning"></i> {{ 'Please confirm your action' | trans }}</h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'Are you sure you wish to delete %object%?' | trans({ '%object%': '<span id="delete-target-label" data-delete-target-label-default="' ~ ('that item' | trans) ~ '">that item</span>' }) | raw }}</h4>
                    <br>
                    <div class="alert alert-danger">{{ 'Please review your decision carefully, as this action cannot be undone.' | trans }}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-eraser"></i> {{ 'No, cancel.' | trans }}</button>
                    <button type="button" id="delete-target-submit" class="pull-left btn btn-danger"><i class="fa fa-trash-o"></i> {{ 'Yes, delete it.' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
    <div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedback-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="feedback-modal-label">{{ 'Send your feedback to us' | trans }}</h4>
                </div>
                <form method="POST" action="{{ path('kras_feedback') }}">
                    <div class="modal-body">
                        <p class="alert alert-info">{{ 'A copy of your message will be sent to our administrators.' | trans }}</p>
                        <div class="form-group nomargin">
                            <label for="message">{{ 'Your message:' | trans }}</label>
                            <textarea name="message" class="form-control" rows="6" placeholder="{{ 'Type your message...' | trans }}"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer nomargin">
                        <button class="btn btn-primary pull-left" type="submit"><i class="fa fa-envelope"></i> {{ 'Submit feedback' | trans }}</button>
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><i class="fa fa-trash-o"></i> {{ 'Close' | trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

</div>
<script>
    app = {
        basepath:  '{{ app.request.getBaseURL() }}/',
        assetpath: '{{ asset('bundles/') }}'
    };
</script>
{% block javascripts %}
{% javascripts
    '%kernel.root_dir%/../vendor/moment/moment/min/moment.min.js'
    '@KrasKrasBundle/Resources/public/assets/twitter-bootstrap/js/tooltip.js'
    '@KrasKrasBundle/Resources/public/assets/twitter-bootstrap/js/*'
    '@KrasKrasBundle/Resources/public/assets/bootstrap-datetimepicker/js/*'
    '@KrasKrasBundle/Resources/public/assets/bootstrap-timepicker/js/*'
    '@KrasKrasBundle/Resources/public/assets/bootstrap-colorpicker/js/*'
    '@KrasKrasBundle/Resources/public/assets/jquery-ui/js/*'
    '@KrasKrasBundle/Resources/public/assets/fullcalendar/js/*'
    '@KrasKrasBundle/Resources/public/assets/datatables/js/*'
    '@KrasKrasBundle/Resources/public/assets/datatables-bootstrap/js/*'
    '@KrasKrasBundle/Resources/public/assets/typeahead/js/*'
    '@KrasKrasBundle/Resources/public/assets/timeago/js/*'
    '@KrasKrasBundle/Resources/public/assets/chosen/js/*'
    '@KrasKrasBundle/Resources/public/js/*'
    filter="?yui_js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
