{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'layout.login' | trans({}, 'FOSUserBundle') %}

{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center page-header">
            <img class="responsive-img" src="{{ asset('bundles/kraskras/img/logo_sm.png') }}">
            <br><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h3>
            </div>
            <div class="panel-body">
                {% if error %}
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ error.messageKey|trans({}, 'FOSUserBundle') }}</strong>
                </div>
                {% endif %}
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                    <div class="form-group input-group">
                        <input type="text" class="form-control" id="username" name="_username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" value="{{ last_username }}" required="required">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="form-group input-group">
                        <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required="required">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="1"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                        </label>
                    </div>
                    <div>
                        <button type="submit" name="_submit" id="submit" class="btn btn-primary">
                            {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }} <i class="fa fa-chevron-circle-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
