{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Users' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_user_index',
            fields: [
                'id',
                'username',
                'firstname',
                'lastname',
                {
                    field: 'email',
                    type:  'email'
                },
                'roles',
                'supportcenter.name',
                {
                    field: 'enabled',
                    type:  'boolean'
                },
                {
                    field: 'expiresAt',
                    type:  'datetime',
                    labels: {
                        null: 'Never' | trans
                    }
                }
            ],
            headers: ['Id' | trans, 'Username' | trans, 'First name' | trans, 'Last name' | trans, 'Email address' | trans, 'Roles' | trans, 'Support center' | trans, 'Enabled?' | trans, 'Expiry' | trans, 'Actions' | trans],
            title: 'List of Users',
            actions: {
                create: {
                    path: path('kras_user_new')
                },
                crud: {
                    view: {
                        route: 'kras_user_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}