{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set  page_title = 'Attendance sheet for activity %activity%' | trans({ '%activity%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_myactivity_show', { id: entity.id }) }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Attendance sheet for activity %activity%' | trans({ '%activity%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <form action="{{ path('kras_myactivity_attendance_update', { id: entity.id }) }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            <fieldset>
                <legend>{{ 'Attendees' | trans }}</legend>
                {{ form_row(form.members) }}
                {{ form_row(form.strangers) }}
                {{ form_row(form.visitors) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Assessment' | trans }}</legend>
                {{ form_row(form.notes) }}
            </fieldset>

            {{ form_widget(form._token) }}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="record_actions col-sm-9">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> {{ 'Save' | trans }}
                        </button>
                        <a class="btn btn-default" href="{{ path('kras_myactivity_show', { id: entity.id }) }}">
                            <i class="fa fa-angle-double-left"></i> {{ 'Back to the activity' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
