{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of activities' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: ['kras_myactivity_index', { 'sections[supportcentersection]': app.request.get('sections').supportcentersection | default(0) }],
            fields: [
                'name',
                'type.name',
                {
                    field: 'start',
                    type: 'datetime'
                },
                'sections.name',
                {
                    field: 'attendancesheet.notes',
                    type: 'boolean',
                    labels: {
                        null: 'No' | trans
                    }
                },
                'attendancesheet.attendeeCount'
            ],
            headers: ['Name' | trans, 'Type' | trans, 'Start' | trans, 'Sections' | trans, 'Administratively complete?' | trans, 'Attendees' | trans, 'Actions' | trans],
            title: 'Support center %sc%: List of activities' | trans({ '%sc%': '<strong>' ~ supportcenter.getName() ~ '</strong>' }),
            actions: {
                create: {
                    path: path('kras_myactivity_new')
                },
                crud: {
                    view: {
                        route: 'kras_myactivity_show'
                    },
                    attendance: {
                        route: 'kras_myactivity_attendance',
                        btn_type: 'primary'
                    }
                },
                custom: '<form method="GET" action="" class="pull-left form-inline" ' ~ (app.request.get('sections') ? 'data-selected="' ~ app.request.get('sections').supportcentersection ~ '"') ~ '>' ~
                    form_row(filterForm.supportcentersection, { attr: { class: 'form-control input-sm section-filter'}}) ~
                '</form>'
            },
            sort: {
                column: 2,
                direction: 'desc'
            },
            customRowCallback: 'if (aData.attendancesheet.notes == \'none\') {
                $(nRow).addClass(\'danger\');
            }'
        }
    %}
{% endblock %}