{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing map for activity: %activity%' | trans({'%activity%': entity }) %}

{% block body %}
    <h2 class="page-header hidden-xs">
        {{ 'Viewing map for activity: %activity%' | trans({'%activity%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
    </h2>

    <div class="well" id="map-canvas">
        <div class="text-center"><i class="icon-spin icon-spinner"></i> &nbsp; Loading</div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;region=BE"></script>
{% endblock %}

{% block scripts %}
<script>
app.page = 'myactivities/map';
app.address_list_path = '{{ path('kras_myactivity_json_address_list', { id: entity.getId() }) }}';
</script>
{% endblock %}