{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Editing Training: %training%' | trans({'%training%': entity }) %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Editing Training: %training%' | trans({ '%training%': '<strong>' ~ entity ~ '</strong>' }) | raw }}</h3>
    </div>
    <form action="{{ path('kras_mytraining_update', { id: entity.getId() }) }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            <fieldset>
                <legend>{{ 'General information' | trans }}</legend>
                {{ form_row(form.name) }}
                {{ form_row(form.price) }}
                {{ form_row(form.organizer) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Dates and Times' | trans }}</legend>
                {{ form_label(form.trainingDates) }}
                <div class="control-group">
                    <ul class="list-unstyled dynamic-collection"
                        data-prototype="<li class='well dynamic-collection-item'>
                    <a href='#' class='btn btn-danger pull-right clearfix btn-xs dynamic-collection-item-delete'><i class='fa fa-times'></i></a>
                    {{ form_widget(form.trainingDates.vars.prototype)|e }}</li>">
                        {% for trainingDate in form.trainingDates %}
                        <li class="dynamic-collection-item well">
                            <a href='#' class='btn btn-danger pull-right clearfix btn-xs dynamic-collection-item-delete'><i class='fa fa-times'></i></a>
                            {{ form_widget(trainingDate) }}
                        </li>
                        {% endfor %}
                        <a href="#" class="dynamic-collection-item-add btn btn-info"><i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}</a>
                    </ul>
                </div>
            </fieldset>

            {{ form_widget(form._token) }}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-8">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> {{ 'Save' | trans }}
                        </button>
                        <a href="{{ path('kras_mytraining_show', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-eraser"></i> {{ 'Cancel' | trans }}</a>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <div class="btn-group">
                        <a href="#" class="btn btn-danger delete-button" data-delete-target-default="{{ entity }}" data-delete-target="{{ path('kras_mytraining_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}

    {{ form_javascript(form) }}

{% endblock %}
