{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'My Trainings' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_mytraining_index',
            fields: [
                'id',
                'name',
                'organizer',
                'price',
                {
                    field: 'approved',
                    type:  'boolean'
                }
            ],
            headers: ['Id' | trans, 'Name' | trans, 'Organizer' | trans, 'Price' | trans, 'Approved' | trans, 'Actions' | trans],
            title: 'My Trainings' | trans,
            actions: {
                create: {
                    path: path('kras_mytraining_new')
                },
                crud: {
                    view: {
                        route: 'kras_mytraining_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}
