{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Trainings overview' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_mytraining_overview',
            fields: [
                'id',
                'name',
                'organizer',
                'price',
                {
                    field: 'trainingDates.date',
                    type:  'date'
                },
                {
                    field: 'trainingDates.start',
                    type:  'time'
                },
                {
                    field: 'trainingDates.end',
                    type:  'time'
                },

            ],
            headers: ['Id' | trans, 'Name' | trans, 'Organizer' | trans, 'Price' | trans, 'Date' | trans, 'Start' | trans, 'End' | trans],
            title: 'Trainings overview' | trans,
            actions: { },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}
