{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set  page_title = 'Editing Member: %member%' | trans({ '%member%': entity }) %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Editing Member: %member%' | trans({ '%member%': '<strong>' ~ entity ~ '</strong>' }) | raw }}</h3>
    </div>
    <form action="{{ path('kras_mymember_update', { id: entity.getId() }) }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            <fieldset>
                <legend>{{ 'Personal information' | trans }}</legend>
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.gender) }}
                {{ form_row(form.sections) }}
                {{ form_row(form.type) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Contact information' | trans }}</legend>
                {{ form_row(form.address) }}
                {{ form_row(form.postalcode) }}
                {{ form_row(form.city) }}
                {{ form_row(form.email) }}

                <div class="control-group">
                    {{ form_label(form.phonenumbers) }}
                    <ul class="list-unstyled dynamic-collection"
                        data-prototype="<li class='well dynamic-collection-item'>
                    <a href='#' class='btn btn-danger pull-right clearfix btn-xs dynamic-collection-item-delete'><i class='fa fa-times'></i></a>
                    {{ form_widget(form.phonenumbers.vars.prototype)|e }}</li>">
                        {% for phonenumber in form.phonenumbers %}
                        <li class="dynamic-collection-item well">
                            <a href='#' class='btn btn-danger pull-right clearfix btn-xs dynamic-collection-item-delete'><i class='fa fa-times'></i></a>
                            {{ form_widget(phonenumber) }}
                        </li>
                        {% endfor %}
                        <a href="#" class="dynamic-collection-item-add btn btn-info"><i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}</a>
                    </ul>
                </div>

            </fieldset>

            <fieldset>
                <legend>{{ 'Background information' | trans }}</legend>
                {{ form_row(form.birthdate) }}
                {{ form_row(form.estimated) }}
                {{ form_row(form.country) }}
                {{ form_row(form.origin) }}
                {{ form_row(form.language) }}
                {{ form_row(form.newcomer) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Notes' | trans }}</legend>
                {{ form_row(form.notes) }}
            </fieldset>

            {{ form_widget(form._token) }}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-8">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> {{ 'Save' | trans }}
                        </button>
                        <a href="{{ path('kras_mymember_show', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-eraser"></i> {{ 'Cancel' | trans }}</a>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <div class="btn-group">
                        <a href="#" class="btn btn-danger delete-button" data-delete-target-default="{{ entity }}" data-delete-target="{{ path('kras_mymember_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
app.page = 'mymembers/new';
app.name_list_path = '{{ path('kras_mymember_json_name_list') }}';
</script>
{% endblock %}