{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of members' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: ['kras_mymember_index', { 'sections[supportcentersection]': app.request.get('sections').supportcentersection | default(0) }],
            fields: [
                'firstname',
                'lastname',
                'sections.name',
                'attendancesheets.id',
                {
                    field: 'completed',
                    type:  'boolean'
                }
            ],
            headers: ['First name' | trans, 'Last name' | trans, 'Sections' | trans, 'Activity count' | trans, 'Complete?' | trans, 'Actions' | trans],
            title: 'Support center %sc%: List of members' | trans({ '%sc%': '<strong>' ~ supportcenter.getName() ~ '</strong>' }),
            actions: {
                create: {
                    path: path('kras_mymember_new')
                },
                crud: {
                    view: {
                        route: 'kras_mymember_show'
                    }
                },
                custom: '<form method="GET" action="" class="pull-left form-inline" ' ~ (app.request.get('sections') ? 'data-selected="' ~ app.request.get('sections').supportcentersection ~ '"') ~ '>' ~
                    form_row(filterForm.supportcentersection, { attr: { class: 'form-control input-sm section-filter'}}) ~
                '</form>'
            },
            sort: {
                column: 0,
                direction: 'desc'
            },
            customRowCallback: 'if (!aData.completed) {
                $(nRow).addClass(\'danger\');
            }'
        }
    %}
{% endblock %}