{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Member map overview' | trans %}

{% block body %}

    <div class="hidden-xs">
        <h2 class="page-header">
            {% if supportcenter is defined %}
            {{ 'Support center %sc%: Member map overview' | trans({ '%sc%': '<span class="text-muted">' ~ supportcenter.getName() ~ '</span>'  }) | raw }}
            {% else %}
            {{ 'List of employees' | trans }}
            {% endif %}
        </h2>
    </div>

    <ul class="list-inline">
    {% for section in supportcenter.getSections() %}
    <li><span class="label"><input type="checkbox" class="section-checkbox" data-section="{{ section.getId() }}" data-color="{{ section.getColor() }}" checked> {{ section }}</span></li>
    {% endfor %}
    </ul>

    <div class="well" id="map-canvas">
        <div class="text-center"><i class="fa fa-spin fa-spinner"></i> &nbsp; Loading</div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;region=BE"></script>
{% endblock %}

{% block scripts %}
<script>
app.page = 'mymembers/map';
app.address_list_path = '{{ path('kras_mymember_json_address_list') }}';
</script>
{% endblock %}