{% form_theme logentry_form 'KrasKrasBundle:Form:fields.html.twig' %}

{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Member: %member%' | trans({'%member%': entity }) %}

{% block body %}
{% if not entity.getCompleted() %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><i class="fa fa-warning"></i> {{ 'This member\'s profile is incomplete!' | trans }}</h4>
    {{ 'To complete this profile, please make sure an <strong>address</strong>, a <strong>date of birth</strong> and at least <strong>one phone number</strong> are filled in.' | trans | raw }}
</div>
{% endif %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_mymember_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Member: %member%' | trans({'%member%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'First name' | trans }}</th>
            <td>{{ entity.getFirstName() }}</td>
        </tr>
        <tr>
            <th>{{ 'Last name' | trans }}</th>
            <td>{{ entity.getLastName() }}</td>
        </tr>
        <tr>
            <th>{{ 'Gender' | trans }}</th>
            <td>{{ entity.getGender() | trans }}</td>
        </tr>
        <tr>
            <th>{{ 'Sections' | trans }}</th>
            <td>
                {% if entity.sections | length > 0 %}
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>{{ 'Name' | trans }}</th>
                            <th>{{ 'Age (minimum)' | trans }}</th>
                            <th>{{ 'Age (maximum)' | trans }}</th>
                            <th>{{ 'Description' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for section in entity.getSections() %}
                        <tr>
                            <td>{{ section.getName() }}</td>
                            <td>{{ section.getMinimumAge() }}</td>
                            <td>{{ section.getMaximumAge() }}</td>
                            <td>{{ section.getDescription() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <span class="label label-danger">{{ 'None' | trans }}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{'Type' | trans }}</th>
            <td>{{ entity.getType() | trans }}</td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Address' | trans }}</th>
            <td>
                {% if entity.getAddress() is not empty %}{{ entity.getAddress() }}<br>{% endif %}
                {% if entity.getPostalCode() is not empty %}{{ entity.getPostalCode() }} {% endif %}{{ entity.getCity() }}
            </td>
        </tr>
        <tr>
            <th>{{ 'Email' | trans }}</th>
            <td>{{ entity.getEmail() }}</td>
        </tr>
        <tr>
            <th>{{ 'Phone numbers' | trans }}</th>
            <td>
                {% if entity.getPhoneNumbers() | length > 0 %}
                <ul class="list-unstyled">
                {% for phonenumber in entity.getPhoneNumbers() %}
                    <li>{{ phonenumber }}</li>
                {% endfor %}
                </ul>
                {% else %}
                <span class="label label-danger">{{ 'None' | trans }}</span>
                {% endif %}
            </td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Date of birth' | trans }}</th>
            <td>
                {% if entity.getBirthDate() is not empty %}
                {{ entity.getBirthDate() | date('Y-m-d') }} {% if entity.getEstimated() %}({{ 'estimated' | trans }}){% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ 'Age' | trans }}</th>
            <td>{{ entity.getAge() }}</td>
        </tr>
        <tr>
            <th>{{ 'Nationality' | trans }}</th>
            <td>{{ entity.getCountry() | country }}</td>
        </tr>
        <tr>
            <th>{{ 'Country of origin' | trans }}</th>
            <td>{{ entity.getOrigin() | country }}</td>
        </tr>
        <tr>
            <th>{{ 'Mother tongue' | trans }}</th>
            <td>{{ entity.getLanguage() | language }}</td>
        </tr>
        <tr>
            <th>{{ 'Newcomer?' | trans }}</th>
            <td>{% if entity.isNewcomer() %}<span class="label label-success">{{ 'Yes' | trans }}</span>{% else %}<span class="label label-danger">{{ 'No' | trans }}</span>{% endif %}</td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Notes' | trans }}</th>
            <td>{{ entity.getNotes() }}</td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Activities participated in' | trans }}</th>
            <td>
                {% if entity.getAttendanceSheets() | length > 0 %}
                <ul class="list-unstyled">
                    <li>{{ 'Total: %count%' | trans({ '%count%': entity.getAttendanceSheets() | length }) }}</li>
                {% for attendanceSheet in entity.getAttendanceSheets() %}
                    <li><a href="{{ path('kras_myactivity_show', { id: attendanceSheet.getActivity().getId() }) }}" class="label label-info">{{ attendanceSheet.getActivity() }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                <span class="label label-danger">{{ 'None' | trans }}</span>
                {% endif %}
            </td>
        </tr>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_mymember_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    <a href="{{ path('kras_mymember_edit', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_mymember_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h3 class="panel-title col-xs-7 dlh">
                <i class="fa fa-tasks"></i> {{ 'Log entries' | trans }}
            </h3>
            <div class="col-xs-5 text-right">
                <div class="btn-group">
                    <a href="#logentry-modal" role="button" data-toggle="modal" class="btn btn-info btn-sm"><i class="fa fa-plus-circle"></i> {{ 'New' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
    {% if logentries | length > 0 %}
    <div class="list-group">
        {% for logentry in logentries %}
        <div class="list-group-item">
            <h5>
                <span class="label label-info">{{ logentry.getTheme() }}</span>
                {{ logentry.getTitle() }}
            </h5>
            <div>{{ logentry.getDescription() }}</div>
            <div class="text-right">
                <small>
                    {{ 'added %time% by %employee%' | trans({
                        '%time%': '<abbr class="timeago" title="' ~ (logentry.getCreatedAt() | date('c')) ~ '">' ~ (logentry.getCreatedAt() | date('r')) ~ '</abbr>',
                        '%employee%': '<em>' ~ logentry.getEmployee() ~ '</em>'
                    }) | raw }}
                </small>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="panel-body">
        <div class="alert alert-warning">
            <i class="fa fa-triangle"></i> {{ 'No log entries were found for this member.' | trans }}
        </div>
    </div>
    {% endif %}
    {% if logentries.getTotalItemCount() > logentries.getItemNumberPerPage() %}
    <div class="panel-footer">
        {{ knp_pagination_render(logentries) }}
    </div>
    {% endif %}
</div>

<div class="modal fade" id="logentry-modal" tabindex="-1" role="dialog" aria-labelledby="logentry-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="logentry-modal-label">{{ 'Add a Log entry' | trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="alert logentry-error alert-danger hide">
                    {{ 'We were unable to add your log entry. Please make sure all required fields are filled in.' | trans }}
                </div>
                <div class="alert logentry-success alert-success hide">
                    {{ 'Your log entry has been added successfully.' | trans }}
                </div>
                <form  class="logentry-form" action="{{ path('kras_mylogentry_create_ajax') }}" {{ form_enctype(logentry_form) }} method="POST">
                    {{ form_widget(logentry_form) }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left logentry-create-btn"><i class="fa fa-check"></i> {{ 'Create' | trans }}</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i> {{ 'Close' | trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    app.page = 'mymembers/show';
    app.title_list_path = '{{ path('kras_logentry_json_title_list') }}';
    app.member_id = {{ entity.getId() }};
</script>
{% endblock %}