{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Activity types' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_activitytype_index',
            fields: [
                'id',
                'name'
            ],
            headers: ['Id' | trans, 'Name' | trans, 'Actions' | trans],
            title: 'List of Activity types' | trans,
            actions: {
                create: {
                    path: path('kras_activitytype_new')
                },
                crud: {
                    view: {
                        route: 'kras_activitytype_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}