{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set  page_title = 'Add an Activity type' | trans %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{ 'Add an Activity type' | trans }}
        </h2>
    </div>
    <form action="{{ path('kras_activitytype_create') }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i> {{ 'Create' | trans }}
                </button>
                <a href="{{ path('kras_activitytype_index') }}" class="btn btn-default"><i class="fa fa-eraser"></i> {{ 'Cancel' | trans }}</a>
            </div>
        </div>
    </form>
{% endblock %}