{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Training: %training%' | trans({'%training%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_training_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Training: %training%' | trans({'%training%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Name' | trans }}</th>
            <td>{{ entity.getName() }}</td>
        </tr>
        <tr>
            <th>{{ 'Price' | trans }}</th>
            <td>{{ entity.getPrice() }}</td>
        </tr>
        <tr>
            <th>{{ 'Organizer' | trans }}</th>
            <td>{{ entity.getOrganizer() }}</td>
        </tr>
        <tr>
            <th>{{ 'Employee' | trans }}</th>
            <td>{{ entity.getEmployee() }}</td>
        </tr>
        <tr>
            <th>{{ 'Dates & Times' | trans }}</th>
            <td>
                <ul class="list-unstyled">
                    {% for trainingDate in entity.getTrainingDates() %}
                        <li>
                            {{ trainingDate.getDate() | date('Y/m/d') }}: <strong>{{ trainingDate.getStart() | date('H:i') }} - {{ trainingDate.getEnd() | date('H:i') }}</strong>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>{{ 'Approved?' | trans }}</th>
            <td><span class="label label-{{ entity.getApproved() ? 'success' : 'danger' }}">{{ entity.getApproved() ? ('Yes' | trans) : ('No' | trans) }}</span></td>
        </tr>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_training_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    <a href="{{ path('kras_training_edit', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_training_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
