{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Your Timesheet templates' | trans %}

{% block body %}
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Your active Timesheet template' | trans }}</h3>
            </div>
            <div class="panel-body">
                {% if timesheettemplate is not empty %}
                <dl class="nomargin">
                    <dt>{{ 'Name' | trans }}</dt>
                    <dd>{{ timesheettemplate }}</dd>
                    <dt>{{ 'Start' | trans }}</dt>
                    <dd><abbr title="{{ timesheettemplate.getStart() | date('c') }}" class="timeago">{{ timesheettemplate.getStart() | date('r') }}</abbr></dd>
                    <dt>{{ 'Weekly hours' | trans }}</dt>
                    <dd>{{ timesheettemplate.getRequiredHours() }}</dd>
                    <dt>{{ 'Details' | trans }}</dt>
                    <dd><a href="{{ path('kras_mytimesheettemplate_show', { id: timesheettemplate.getId() }) }}">{{ 'Click here' | trans }}</a></dd>
                </dl>
                {% else %}
                <div class="alert alert-info nomargin">
                    <p><i class="fa fa-warning"></i> {{ 'You are currently using the default Timesheet template.' | trans }}</p>
                    <p>{{ 'You can create a custom Timesheet template by %clickinghere%.' | trans({ '%clickinghere%': '<a class="alert-link" href="' ~ path('kras_mytimesheettemplate_new') ~ '">' ~ ('clicking here' | trans) ~ '</a>' }) | raw }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-9">
        {% include "KrasKrasBundle:Blocks:datatable.html.twig"
            with
            {
                datasource: 'kras_mytimesheettemplate_index',
                fields: [
                    'id',
                    'name',
                    {
                        field: 'start',
                        type:  'datetime'
                    },
                    {
                        field: 'end',
                        type:  'datetime',
                        labels: {
                            null: 'Never' | trans
                        }
                    },
                    'requiredHours',
                    {
                        field: 'approved',
                        type:  'boolean'
                    }
                ],
                headers: ['Id' | trans, 'Name' | trans, 'Start' | trans, 'End' | trans, 'Weekly hours' | trans, 'Approved' | trans, 'Actions' | trans],
                title: 'Your Timesheet templates' | trans,
                actions: {
                    create: {
                        path: path('kras_mytimesheettemplate_new')
                    },
                    crud: {
                        view: {
                            route: 'kras_mytimesheettemplate_show'
                        }
                    }
                },
                sort: {
                    column: 0,
                    direction: 'desc'
                }
            }
        %}
    </div>
</div>
{% endblock %}
