{{ 'New feedback has been received by the system.' | trans }}
------------
FROM:     {% for email, name in senders %}{{ name }} <{{ email }}>{% if loop.index < senders | length %}; {% endif %}{% endfor %}

TO:       {% for email, name in recipients %}{{ name }} <{{ email }}>{% if loop.index < recipients | length %}; {% endif %}{% endfor %}

SUBJECT:  {{ subject }}
PAGE:     {% if referer is not empty %}{{ referer }}{% else %}{{ 'Unknown' | trans }}{% endif %}

------------
{{ message | raw }}