{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Time fragment types' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_timefragmenttype_index',
            fields: [
                'id',
                'name',
                {
                    field: 'color',
                    type: 'color'
                },
                {
                    field: 'linkActivity',
                    type: 'boolean'
                },
                {
                    field: 'linkMember',
                    type: 'boolean'
                },
                {
                    field: 'linkTraining',
                    type: 'boolean'
                }
            ],
            headers: ['Id' | trans, 'Name' | trans, 'Color' | trans, 'Link activity?' | trans, 'Link members?' | trans, 'Link training?' | trans, 'Actions' | trans],
            title: 'List of Time fragment types' | trans,
            actions: {
                create: {
                    path: path('kras_timefragmenttype_new')
                },
                crud: {
                    view: {
                        route: 'kras_timefragmenttype_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}
