{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Time fragment type: %timefragmenttype%' | trans({'%timefragmenttype%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_timefragmenttype_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Time fragment type: %timefragmenttype%' | trans({'%timefragmenttype%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Name' | trans }}</th>
            <td>{{ entity.getName() }}</td>
        </tr>
        <tr>
            <th>{{ 'Color' | trans }}</th>
            <td><i class="fa fa-square fa-lg" style="color:{{ entity.getColor() }}!important;"></i> {{ entity.getColor() }}</td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Link activity?' }}</th>
            <td><span class="label label-{{ entity.getLinkActivity() ? 'success' : 'danger' }}">{{ (entity.getLinkActivity() ? 'Yes' : 'No') | trans}}</span></td>
        </tr>
        <tr>
            <th>{{ 'Link member?' }}</th>
            <td><span class="label label-{{ entity.getLinkMember() ? 'success' : 'danger' }}">{{ (entity.getLinkMember() ? 'Yes' : 'No') | trans}}</span></td>
        </tr>
        <tr>
            <th>{{ 'Link training?' }}</th>
            <td><span class="label label-{{ entity.getLinkTraining() ? 'success' : 'danger' }}">{{ (entity.getLinkTraining() ? 'Yes' : 'No') | trans}}</span></td>
        </tr>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_timefragmenttype_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    <a href="{{ path('kras_timefragmenttype_edit', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_timefragmenttype_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
