{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set  page_title = 'Confirm your action' | trans %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Confirm your action' | trans }}</h3>
    </div>
    <form action="{{ path('kras_sudo_form', { redirect: app.request.get('redirect'), previous: app.request.get('previous') }) }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            <div class="alert alert-info">
                {{ 'You are about to execute a potentially unrecoverable operation. Please confirm that you are the owner of this account by authenticating. Activating this mode temporarily provides an elevated level of privileges. It will remain active for 30 minutes after authentication.' | trans }}
            </div>
            {{ form_widget(form) }}
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i> {{ 'Authenticate' | trans }}
                </button>
                <a href="{{ app.request.get('previous', path('kras_index')) }}" class="btn btn-default"><i class="fa fa-eraser"></i> {{ 'Cancel' | trans }}</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
