{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Log entries' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_logentry_index',
            fields: [
                'id',
                'employee.username',
                'member.label',
                'theme.name',
                'title',
                {
                    field: 'createdat',
                    type: 'datetime'
                }
            ],
            headers: ['Id' | trans, 'Employee' | trans, 'Member' | trans, 'Theme' | trans, 'Title' | trans, 'Created at' | trans, 'Actions' | trans],
            title: 'List of Log entries' | trans,
            actions: {
                create: {
                    path: path('kras_logentry_new')
                },
                crud: {
                    view: {
                        route: 'kras_logentry_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}