{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Log entry: %logentry%' | trans({'%logentry%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_logentry_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Log entry: %logentry%' | trans({'%logentry%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Created at' | trans }}</th>
            <td><abbr class="timeago" title="{{ entity.getCreatedAt() | date('c') }}">{{ entity.getCreatedAt() | date('r') }}</abbr></td>
        </tr>
        <tr>
            <th>{{ 'Employee' | trans }}</th>
            <td><a class="label label-info" href="{{ path('kras_user_show', { id: entity.getEmployee().getId() }) }}">{{ entity.getEmployee() }}</a></td>
        </tr>
        <tr>
            <th>{{ 'Member' | trans }}</th>
            <td><a class="label label-info" href="{{ path('kras_member_show', { id: entity.getMember().getId() }) }}">{{ entity.getMember() }}</a></td>
        </tr>
        <tr>
            <th>{{ 'Theme' | trans }}</th>
            <td>{{ entity.getTheme() }}</td>
        </tr>
        <tr>
            <th>{{ 'Title' | trans }}</th>
            <td>{{ entity.getTitle() }}</td>
        </tr>
        <tr>
            <th>{{ 'Description' | trans }}</th>
            <td>{{ entity.getDescription() }}</td>
        </tr>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_logentry_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    <a href="{{ path('kras_logentry_edit', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_logentry_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}