{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Activities' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_activity_index',
            fields: [
                'name',
                'supportcenter.name',
                'type.name',
                {
                    field: 'start',
                    type: 'datetime'
                },
                'sections.name',
                {
                    field: 'attendancesheet.notes',
                    type: 'boolean',
                    labels: {
                        null: 'No' | trans
                    }
                },
                'attendancesheet.attendeeCount'
            ],
            headers: ['Name' | trans, 'Support center' | trans, 'Type' | trans, 'Start' | trans, 'Sections' | trans, 'Administratively complete?' | trans, 'Attendees' | trans, 'Actions' | trans],
            title: 'List of Activities' | trans,
            actions: {
                create: {
                    path: path('kras_activity_new')
                },
                crud: {
                    view: {
                        route: 'kras_activity_show'
                    },
                    attendance: {
                        route: 'kras_activity_attendance',
                        btn_type: 'primary'
                    }
                }
            },
            sort: {
                column: 3,
                direction: 'desc'
            },
            customRowCallback: 'if (aData.attendancesheet.notes == \'none\') {
                $(nRow).addClass(\'danger\');
            }'
        }
    %}
{% endblock %}