{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set  page_title = 'Add an Activity' | trans %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{ 'Add an Activity' | trans }}
        </h2>
    </div>
    <form action="{{ path('kras_activity_create') }}" {{ form_enctype(form) }} method="POST">
        <div class="panel-body">
            <fieldset>
                <legend>{{ 'General information' | trans }}</legend>
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.type) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Dates and times' | trans }}</legend>
                <div class="row">
                    <div class="col-xs-5">
                        {{ form_label(form.starts) }}
                        <div class="activity-starts" data-prototype="<div class='form-group'>
                            {{ form_widget(form.starts.vars.prototype) | e }}</div>">
                            {% for start in form.starts %}
                            <div class="form-group">
                                {{ form_widget(start) }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xs-5">
                        {{ form_label(form.ends) }}
                        <div class="activity-ends" data-prototype="<div class='form-group'>
                            {{ form_widget(form.ends.vars.prototype) | e }}</div>">
                            {% for end in form.ends %}
                            <div class="form-group">
                                {{ form_widget(end) }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group col-xs-2">
                        <label>{{ 'Actions' | trans }}</label>
                        <div class="activity-actions" data-prototype="<div class='form-group'><div class='btn-group'>
                            <a href='javascript:void(0)' class='btn btn-danger activity-date-remove'><i class='fa fa-times'></i></a>
                        </div></div>">
                            {% for end in form.ends %}
                            <div class="form-group">
                                <div class='btn-group'>
                                    <a href='javascript:void(0)' class='btn btn-danger activity-date-remove'><i class='fa fa-times'></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a href="javascript:void(0)" class="btn btn-warning activity-date-add"><i class="fa fa-plus-circle"></i> {{ 'Add a date' | trans }}</a>
                </div>
            </fieldset>

            <fieldset>
                <legend>{{ 'Support center information' | trans }}</legend>
                {{ form_row(form.sections) }}
                {{ form_row(form.employees) }}
                {{ form_row(form.volunteers) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Geographic information' | trans }}</legend>
                {{ form_row(form.address) }}
                {{ form_row(form.postalcode) }}
                {{ form_row(form.city) }}
            </fieldset>

            <fieldset>
                <legend>{{ 'Notes' | trans }}</legend>
                {{ form_row(form.notes) }}
            </fieldset>

            {{ form_widget(form._token) }}
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i> {{ 'Create' | trans }}
                </button>
                <button type="submit" class="btn btn-success" name="submit" value="attendance">
                    <i class="fa fa-check"></i> {{ 'Create and go to Attendance sheet' | trans }}
                </button>
                <a href="{{ path('kras_activity_index') }}" class="btn btn-default"><i class="fa fa-eraser"></i> {{ 'Cancel' | trans }}</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
<script>
    app.page = 'activities/new';
    app.count_starts = '{{ form.starts | length }}';
    app.count_ends = '{{ form.ends | length }}';
</script>
{% endblock %}
