{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Activity: %activity%' | trans({'%activity%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_activity_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Activity: %activity%' | trans({'%activity%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ 'Id' | trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Name' | trans }}</th>
            <td>{{ entity.getName() }}</td>
        </tr>
        <tr>
            <th>{{ 'Description' | trans }}</th>
            <td>{{ entity.getDescription() }}</td>
        </tr>
        <tr>
            <th>{{ 'Type' | trans }}</th>
            <td>{{ entity.getType() }}</td>
        </tr>
        <tr><td colspan="2"></tr>
        <tr>
            <th>{{ 'Support center' | trans }}</th>
            <td>
                <a href="{{ path('kras_supportcenter_show', { id: entity.getSupportCenter().getId() }) }}" class="label label-info">{{ entity.getSupportCenter() }}</a>
            </td>
        </tr>
        <tr>
            <th>{{ 'Sections' | trans }}</th>
            <td>
                <ul class="list-unstyled">
                {% for section in entity.getSections() %}
                    <li>{{ section }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>{{ 'Employees' | trans }}</th>
            <td>
                <ul class="list-unstyled">
                {% for employee in entity.getEmployees() %}
                    <li><a href="{{ path('kras_user_show', { id: employee.getId() }) }}" class="label label-info">{{ employee }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>{{ 'Volunteers' | trans }}</th>
            <td>
                <ul class="list-unstyled">
                {% for volunteer in entity.getVolunteers() %}
                    <li><a href="{{ path('kras_member_show', { id: volunteer.getId() }) }}" class="label label-info">{{ volunteer }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr><td colspan="2"></tr>
        <tr>
            <th>{{ 'Start' | trans }}</th>
            <td>{{ entity.getStart() | date }} - <abbr class="timeago" title="{{ entity.getStart() | date('c') }}">{{ entity.getStart() | date('r') }}</abbr></td>
        </tr>
        <tr>
            <th>{{ 'End' | trans }}</th>
            <td>{{ entity.getEnd() | date }} - <abbr class="timeago" title="{{ entity.getEnd() | date('c') }}">{{ entity.getEnd() | date('r') }}</abbr></td>
        </tr>
        <tr>
            <th>{{ 'Duration' | trans }}</th>
            <td>{{ (entity.getEnd() | date('U') - entity.getStart() | date('U')) | formatTime }}</td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Address' | trans }}</th>
            <td>
                {% if entity.getAddress() is not empty %}{{ entity.getAddress() }}<br>{% endif %}
                {% if entity.getPostalCode() is not empty %}{{ entity.getPostalCode() }} {% endif %}{{ entity.getCity() }}
            </td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Notes' | trans }}</th>
            <td>{{ entity.getNotes() }}</td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <th>{{ 'Attendance sheet' | trans }}</th>
            <td>
                <a href="{{ path('kras_activity_attendance', { id: entity.getId() }) }}" class="btn btn-{% if entity.getAttendanceSheet() %}success{% else %}info{% endif %} btn-xs"><i class="fa fa-eye"></i> {{ (entity.getAttendanceSheet() is not empty ? 'View' : 'Create') | trans }}</a>
            </td>
        </tr>
        <tr>
            <th>{{ 'Map view' | trans }}</th>
            <td>
                <a href="{{ path('kras_activity_map', { id: entity.getId() }) }}" class="btn btn-info btn-xs"><i class="fa fa-map-marker"></i> {{ 'View' | trans }}</a>
            </td>
        </tr>
    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_activity_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    <a href="{{ path('kras_activity_edit', { id: entity.getId() }) }}" class="btn btn-default"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</a>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_activity_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}