{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Logging' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_logging_index',
            fields: [
                'id',
                'user',
                'ip',
                'object',
                'action',
                {
                    field: 'created',
                    type: 'datetime'
                }
            ],
            headers: ['Id' | trans, 'User' | trans, 'IP address' | trans, 'Object' | trans, 'Action' | trans, 'Timestamp' | trans],
            title: 'List of Log entries' | trans,
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}