{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Leave overview' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_center_leaveoverview_index',
            fields: [
                'id',
                'label',
                {
                    field: 'startedWorking',
                    type:  'datetime'
                },
                'roles',
                {
                    field: 'enabled',
                    type:  'boolean'
                }
            ],
            headers: ['Id' | trans, 'Employee' | trans, 'Started working' | trans, 'Roles' | trans, 'Enabled?' | trans, 'Actions' | trans],
            title: 'Support center %sc%: Leave overview' | trans({ '%sc%': '<strong>' ~ supportcenter.getName() ~ '</strong>' }),
            actions: {
                crud: {
                    view: {
                        route: 'kras_center_leaveoverview_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}
