{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Leave types' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_leavetype_index',
            fields: [
                'id',
                'name',
                {
                    field: 'publicHoliday',
                    type:  'boolean'
                },
                {
                    field: 'overtime',
                    type:  'boolean'
                },
                {
                    field: 'sickness',
                    type:  'boolean'
                },
                {
                    field: 'plannableByEmployee',
                    type:  'boolean'
                }
            ],
            headers: ['Id' | trans, 'Name' | trans, 'Is public holiday?' | trans, 'Is overtime?' | trans, 'Sickness' | trans, 'Plannable by employee?' | trans, 'Actions' | trans],
            title: 'List of Leave types' | trans,
            actions: {
                create: {
                    path: path('kras_leavetype_new')
                },
                crud: {
                    view: {
                        route: 'kras_leavetype_show'
                    }
                }
            },
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}
