{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Activity overview for support center %sc%' | trans({ '%sc%': supportcenter }) %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ 'Activity overview for support center: %sc%' | trans({'%sc%': '<strong>' ~ supportcenter ~ '</strong>' }) | raw }}
            </h2>
        </div>
        <div class="panel-body">
            <div id="activity_piechart" style="height: 600px; position: relative;">
                <h1 class="text-center" style="position: absolute; top: 40%; left: 0; right: 0;"><i class="fa fa-spinner fa-spin"></i></h1>
            </div>
        </div>
        <div class="panel-footer text-center">
            <form class="form-inline" role="form" id="chart-filter-form">
                <div class="form-group">
                    <input type="text" class="form-control datepicker" id="chart-filter-start-date" name="chart-filter-start-date" placeholder="{{ 'Start date' | trans }}" readonly>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control datepicker" id="chart-filter-end-date" name="chart-filter-end-date" placeholder="{{ 'End date' | trans }}" readonly>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" id="chart-filter-clear-btn"><i class="fa fa-trash-o"></i> {{ 'Clear' | trans }}</button>
                </div>
            </form>
        </div>
    </div>
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_center_activityoverview_index',
            fields: [
                'id',
                {
                    field: 'timesheet.id',
                    type:  'callback',
                    callback: '"<a class=\\"btn-xs btn-info btn\\" href=\\"" + "' ~ path('kras_center_timesheet_show', { id: 'ID' }) ~ '".replace("ID", data) + "\\"># " + data + "</a>"'
                },
                'timesheet.employee.label',
                'timefragmenttype.name',
                {
                    field: 'start',
                    type:  'date'
                },
                {
                    field: 'start',
                    type:  'time'
                },
                {
                    field: 'end',
                    type:  'time'
                },
                'notes',
                'linkedactivity.name',
            ],
            headers: ['Id' | trans, 'Timesheet' | trans, 'Employee' | trans, 'Type' | trans, 'Date' | trans, 'Start' | trans, 'End' | trans, 'Notes' | trans, 'Activity' | trans],
            title: 'Timesheet activity list for support center %sc%' | trans({ '%sc%': '<strong>' ~ supportcenter ~ '</strong>' }),
            sort: {
                column: 0,
                direction: 'desc'
            }
        }
    %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@KrasKrasBundle/Resources/public/js/timesheets/overview.js'
    filter="?yui_js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script>
    app.chart_title = "{{ 'Activity overview for support center : %sc%' | trans({'%sc%': supportcenter }) | raw }}";
    app.chart_data_path = "{{ path('kras_center_activityoverview_data') }}";
</script>
{% endblock %}
