body {
  padding-top: 70px;
}

.container {
  max-width: 100%!important;
  width: auto!important;
}

#map-canvas img {
  max-width: none;
}

#map-canvas label {
  width: auto; display:inline;
}

.chart svg {
  height: 200px;
}

.nomargin {
  margin: 0!important;
}

.required:after {
  content: ' *';
  color: #F02311;
}

.dlh {
  line-height: 2em;
}

.page-header {
  margin-top: 20px;
}

.padded {
  padding: 5px;
    height: 100%;
}

.panel table {
  margin-bottom: 0!important;
}

.twitter-typeahead {
  display: block!important;
}

.tt-hint {
  padding: 6px 12px 0;
  font-size: 12px;
  line-height: 30px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.timesheet .week
{
  width: 100%;
  overflow-y: scroll;
}

.timesheet .week .dayblock
{
  width: 14%;
  display: inline-block;
  vertical-align: top;
}

.timesheet .day {
  border: 1px solid #ddd;
  min-height: 28px;
  background: repeating-linear-gradient(45deg, rgba(0,0,0,0.00), rgba(0,0,0,0.00) 10px, rgba(0,0,0,0.05) 10px, rgba(0,0,0,0.05) 20px);
}

.timesheet .day-add-btn,
.timesheettemplate .day-add-btn {
  background: #eee;
  border:0;
  text-align:center;
  display:block;
  vertical-align: top;
  width:100%;
  max-width:100%;
  padding: 5px;
}

.timesheet .event,
.timesheet .template-event,
.timesheettemplate .event,
.timesheet .leave {
  margin-bottom: 10px;
  background: rgba(22,147,165, 0.2);
  position: relative;
  text-align: center;
  min-height: 36px!important;
}

.timesheet .event,
.timesheet .template-event,
.timesheet .leave {
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.timesheet .leave {
  cursor: default;
  background: #393939;
  color: #f2f2f2;
}

.timesheet .event:hover {
  opacity: 0.8;
}

.timesheet .event table th,
.timesheet .event table td {
  border-top: 0;
}

.event-start {
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 5px;
}

.event-end {
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.event .event-delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.time-dropdown select,
select.time-dropdown {
  width: 20%;
  min-width: 50px;
  display: inline-block;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.badge-danger {
  background: #d9534f;
}

.badge-warning {
  background: #f0ad4e;
}

.badge-success {
  background: #5cb85c;
}

.help-inline {
  color: #d9534f;
}
