{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Employee timesheet overview' | trans %}

{% block body %}
    {% include "KrasKrasBundle:Blocks:datatable.html.twig"
        with
        {
            datasource: 'kras_center_timesheetoverview_index',
            fields: [
                'id',
                'label',
                {
                    field: 'startedWorking',
                    type:  'datetime'
                },
                {
                    field: 'timesheets.startDate',
                    type:  'date_array_last'
                },
                {
                    field: 'timesheets.approvedCo',
                    type: 'callback',
                    callback: 'function () {
                        if (!row.timesheets.id) {
                            return;
                        }

                        var path = "' ~ path('kras_center_timesheet_show', { id: 'ID' }) ~ '",
                            values = [];
                        if (row.timesheets.id.constructor == Array) {
                            for (var i = 0; i < row.timesheets.id.length; i++) {
                                values.push("<a href=\\"" + path.replace("ID", row.timesheets.id[i]) + "\\">' ~ 'Timesheet' | trans ~ ' #" + row.timesheets.id[i] + "</a>");
                            }
                        } else {
                            values.push("<a href=\\"" + path.replace("ID", row.timesheets.id) + "\\">' ~ 'Timesheet' | trans ~ ' #" + row.timesheets.id + "</a>");
                        }

                        return values.join(", ");
                    }'
                },
                'roles',
                {
                    field: 'enabled',
                    type:  'boolean'
                }
            ],
            headers: ['Id' | trans, 'Employee' | trans, 'Started working' | trans, 'Start date of last approved timesheet' | trans, 'Unapproved timesheets' | trans, 'Roles' | trans, 'Enabled?' | trans, 'Actions' | trans],
            title: 'Support center %sc%: Employee timesheet overview' | trans({ '%sc%': '<strong>' ~ supportcenter.getName() ~ '</strong>' }),
            sort: {
                column: 0,
                direction: 'desc'
            },
            actions: {
                crud: {
                    view: {
                        route: 'kras_center_timesheetoverview_show'
                    }
                }
            },
            customRowCallback: '
                if (aData.timesheets.startDate == "none") {
                    return;
                }

                function getMonday(d) {
                  d = new Date(d);
                  var day = d.getDay(),
                      diff = d.getDate() - day + (day == 0 ? -6:1);
                  return new Date(d.setDate(diff));
                }

                var monday = getMonday(new Date());

                var o = (aData.timesheets.startDate.date.constructor == Array ? aData.timesheets.startDate.date[aData.timesheets.startDate.date.length - 1] : aData.timesheets.startDate.date);
                var t = o.split(/[- :]/);
                var d = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);

                var same_day = (monday.getDate() == d.getDate()
                        && monday.getMonth() == d.getMonth()
                        && monday.getFullYear() == d.getFullYear())

                if (!same_day) {
                    $(nRow).addClass("danger");
                }
            '
        }
    %}
{% endblock %}
