{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'List of Timesheet templates' | trans %}

{% block body %}
{% include "KrasKrasBundle:Blocks:datatable.html.twig"
    with
    {
        datasource: 'kras_timesheettemplate_index',
        fields: [
            'id',
            'employee.username',
            'name',
            {
                field: 'start',
                type:  'datetime'
            },
            {
                field: 'end',
                type:  'datetime',
                labels: {
                    null: 'Never' | trans
                }
            },
            'requiredHours',
            {
                field: 'approved',
                type:  'boolean'
            }
        ],
        headers: ['Id' | trans, 'Employee' | trans, 'Name' | trans, 'Start' | trans, 'End' | trans, 'Weekly hours' | trans, 'Approved' | trans, 'Actions' | trans],
        title: 'List of Timesheet templates' | trans,
        actions: {
            create: {
                path: path('kras_timesheettemplate_new')
            },
            crud: {
                view: {
                    route: 'kras_timesheettemplate_show'
                }
            }
        },
        sort: {
            column: 0,
            direction: 'desc'
        }
    }
%}
{% endblock %}
