{% extends 'KrasKrasBundle:Default:base.html.twig' %}

{% set page_title = 'Viewing Timesheet template: %timesheettemplate%' | trans({'%timesheettemplate%': entity }) %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            <a href="{{ path('kras_timesheettemplate_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-chevron-circle-left"></i> {{ 'Back' | trans }}</a>
            {{ 'Viewing Timesheet template: %timesheettemplate%' | trans({'%timesheettemplate%': '<strong>' ~ entity ~ '</strong>' }) | raw }}
        </h2>
    </div>
    <div class="panel-body">
        {% include 'KrasKrasBundle:Blocks:timesheettemplate.html.twig' with {
            create_path: path('kras_timesheettemplate_event_create', { id: entity.getId() }),
            list_path:   path('kras_timesheettemplate_event_list', { id: entity.getId() }),
            delete_path: path('kras_timesheettemplate_event_delete', { id: entity.getId(), event_id: 'EVENT_ID' }),
            form:        form,
            editable:    true
        } %}
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-8">
                <div class="btn-group">
                    <a href="{{ path('kras_timesheettemplate_index') }}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> {{ 'Back to overview' | trans }}</a>
                    {% if entity.getApproved() %}
                    <a href="{{ path('kras_timesheettemplate_deny', { id: entity.getId() }) }}" class="btn btn-warning"><i class="fa fa-times"></i> {{ 'Deny' | trans }}</a>
                    {% else %}
                    <a href="{{ path('kras_timesheettemplate_approve', { id: entity.getId() }) }}" class="btn btn-success"><i class="fa fa-check"></i> {{ 'Approve' | trans }}</a>
                    {% endif %}
                </div>
            </div>
            {% if entity.getEmployee() is not empty %}
            <div class="col-xs-4 text-right">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger delete-button" data-delete-target-label="{{ entity }}" data-delete-target="{{ path('kras_timesheettemplate_delete', { id: entity.getId() }) }}"><i class="fa fa-trash-o"></i> {{ 'Delete' | trans }}</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@KrasKrasBundle/Resources/public/js/timesheets/timesheettemplates.js'
    filter="?yui_js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
