{% set rid = random() ~ '-' ~ (datasource is iterable ? datasource[0] : datasource) %}
{% set actions = actions | default({}) %}
<div class="panel panel-info">
    <div class="panel-heading">
        {% if actions.create is defined or actions.custom is defined %}
        <div class="row">
            <h3 class="panel-title col-xs-7 dlh">{{ title | raw }}</h3>
            <div class="col-xs-5 text-right">
                <div class="btn-group">
                    {% if actions.create is defined and (actions.create.role is not defined or (actions.create.role is defined and is_granted(actions.create.role))) %}
                    <a href="{{ actions.create.path }}" class="btn btn-primary btn-sm" title="{{ 'Add an entry' | trans }}"><i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}</a>
                    {% endif %}
                    {% if actions.custom is defined %}
                    {{ actions.custom | raw }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <h3 class="panel-title">{{ title | raw }}</h3>
        {% endif %}
    </div>
    <table id="table-{{ rid }}" class="table table-hover table-striped">
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

{% block scripts %}
<script>
$(function() {
    $('#table-{{ rid }}').dataTable({
        "bServerSide": true,
        "iDisplayLength": {{ display_length is defined ? display_length : '25' }},
        "sAjaxSource": '{{ datasource is iterable ? path(datasource[0], datasource[1]) : path(datasource) }}',
        {% if sort is defined %}
        "aaSorting": [[{{ sort.column }}, '{{ sort.direction }}']],
        {% endif %}
        "aoColumns": [
            {% for key, field in fields %}
            {
                "sDefaultContent": "none",
                {% if field.type is not defined %}
                "mData": "{{ field }}"
                {% else %}
                "mData": "{{ field.field }}",
                "mRender": function(data, type, row) {
                    var html = '';
                    if (data == 'none') {
                        html = '<span class="label label-warning">{{ field.labels.null | default('Unknown' | trans) }}</span>';
                    }
                    {% if field.type == 'string' %}
                    if (data != 'none') {
                        html = data;
                    }
                    {% elseif field.type == 'boolean' %}
                    if (data != 'none' && data) {
                        html = '<span class="label label-success">{{ field.labels.true | default('Yes' | trans) }}</span>';
                    } else {
                        html = '<span class="label label-danger">{{ field.labels.false | default('No' | trans) }}</span>';
                    }
                    {% elseif field.type == 'datetime' %}
                    if (data.date) {
                        html = '<abbr class="timeago" title="'+moment(data.date).format('DD/MM/YYYY HH:mm:ss') +'">'+$.timeago(data.date)+'</abbr>';
                    }
                    {% elseif field.type == 'email' %}
                    if (data != 'none') {
                        html = '<a class="label label-info" href="mailto:'+data+'">'+data+'</a>';
                    }
                    {% elseif field.type == 'color' %}
                    if (data != 'none') {
                        html = '<i class="fa fa-square" style="color:'+data+'!important;"></i> '+data;
                    }
                    {% elseif field.type == 'date_array' %}
                    if (data != 'none') {
                        if (data.date instanceof Array) {
                            var values = [];
                            for (key in data.date) {
                                values.push(moment(data.date[key]).format('DD/MM/YYYY'));
                            }
                            html = values.join(', ');
                        } else {
                            html = moment(data.date).format('DD/MM/YYYY');
                        }
                    }
                    {% elseif field.type == 'date_array_last' %}
                    if (data != 'none') {
                        if (data.date instanceof Array) {
                            html = moment(data.date[data.date.length - 1]).format('DD/MM/YYYY');
                        } else {
                            html = moment(data.date).format('DD/MM/YYYY');
                        }
                    }
                    {% elseif field.type == 'date' %}
                    if (data != 'none') {
                        html = moment(data.date).format('DD/MM/YYYY');
                    }
                    {% elseif field.type == 'time' %}
                    if (data != 'none') {
                        html = moment(data.date).format('HH:mm:ss');
                    }
                    {% elseif field.type == 'callback' %}
                    if (data != 'none') {
                        html = {{ field.callback | raw }};
                    }
                    {% endif %}
                    return html;
                }
                {% endif %}
            }{% if loop.index != fields | length %},{% endif %}
            {% endfor %}
            {% if actions.crud is defined %},
            {
                "mData": "{{ actions.crud.field is defined ? actions.crud.field : 'id' }}",
                "sDefaultContent": "none",
                "bSortable": false,
                "bSearchable": false,
                "mRender": function(data, type, row) {
                    var html = '<div class="btn-group pull-right">';

                    {% for key, value in actions.crud %}
                    html += '<a href="' + '{{ path(value.route, { id: 'ID' }) }}'.replace('ID', data) + '" class="btn btn-xs btn-{{ value.btn_type | default('info') }}">{% if key == 'view' %}<i class="fa fa-eye"></i> {% elseif key == 'link' %}<i class="icon-link"></i> {% endif %}{{ key | capitalize | trans }}</a>';

                    {% endfor %}

                    html += '</div>';
                    return html;
                }
            }
            {% endif %}
        ],
        "fnDrawCallback": function(oSettings) {
            jQuery(document).ready(function($) {
                $(".clickable-row").unbind('click').click(function(e) {
                    if ($.inArray(e.target.tagName, ['A', 'BUTTON']) == -1) {
                        var link = $(this).find('td').last().find('a').first().attr('href');
                        if (typeof link != 'undefined') {
                            window.document.location = link;
                        }
                    }
                });
            });
        },
        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
            $(nRow).addClass('clickable-row');

            {% if customRowCallback is defined %}
                {{ customRowCallback | raw }}
            {% endif %}

            return nRow;
        }
    });
});
</script>
{% endblock %}
