<div class="timesheet">
    {% set display = 'none' %}
    <div class="alert alert-warning h4">
        <i class="fa fa-exclamation-circle">
            {{ 'This timesheet contains %worked% worked hour(s)' | trans({ '%worked%': '<strong class="overtime-warning-worked">' ~ entity.getWorkedHours() ~ '</strong>'}) | raw }}
            {% if entity.getOvertimeHours() > 0 %}
                {% set display = 'inline' %}

            {% endif %}
            <span class="overtime-part" style="display:{{ display }}">{{ ' , of which %overtime% hour(s) are overtime.' | trans({ '%overtime%': '<strong class="overtime-warning-overtime">' ~ entity.getOvertimeHours() ~ '</strong> .' }) | raw }}</span>
        </i>
    </div>
    <div class="form-group">
        <label>{{ 'Comments' | trans }} <i
                    class="fa fa-spinner fa-spin fa-lg  timesheet-comments-status hidden text-success"></i></label>
        <textarea class="timesheet-comments form-control"
                  placeholder="{{ 'Type your comments here...' | trans }}" {{ comments_path is not defined ? 'readonly' }}>{{ entity.getComments() }}</textarea>
    </div>
    {% if app.user is not null and (is_granted("ROLE_HR_MANAGER")) %}
        <div class="form-group">
            <label>{{ 'Required hours' | trans }} <i
                        class="fa fa-spinner fa-spin fa-lg  timesheet-req_hours-status hidden text-success"></i></label>
            <input class="timesheet-req_hours form-control" value="{{ entity.getRequiredHours() }}">
        </div>
    {% endif %}
    <div class="week">
        <div class="dayblock">
            <h4 class="text-center">
                <strong>{{ 'Monday' | trans }}</strong> ({{ entity.getStartDate() | date('d/m/Y') }})
            </h4>

            <div class="day" data-dow="1">
                <div class="events" data-dow="1"></div>
                {% if create_path is defined %}
                    <button class="day-add-btn" data-toggle="modal" data-target="#timesheet-modal">
                        <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                    </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="dayblock">
            <h4 class="text-center">
                <strong>{{ 'Tuesday' | trans }}</strong>
                ({{ entity.getStartDate() | date_modify('+1 day') | date('d/m/Y') }})
            </h4>

            <div class="day" data-dow="2">
                <div class="events" data-dow="2"></div>
                {% if create_path is defined %}
                    <button class="day-add-btn" data-toggle="modal" data-target="#timesheet-modal">
                        <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                    </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="dayblock">
            <h4 class="text-center">
                <strong>{{ 'Wednesday' | trans }}</strong>
                ({{ entity.getStartDate() | date_modify('+2 days') | date('d/m/Y') }})
            </h4>

            <div class="day" data-dow="3">
                <div class="events" data-dow="3"></div>
                {% if create_path is defined %}
                    <button class="day-add-btn" data-toggle="modal" data-target="#timesheet-modal">
                        <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                    </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="dayblock">
            <h4 class="text-center">
                <strong>{{ 'Thursday' | trans }}</strong>
                ({{ entity.getStartDate() | date_modify('+3 days') | date('d/m/Y') }})
            </h4>

            <div class="day" data-dow="4">
                <div class="events" data-dow="4"></div>
                {% if create_path is defined %}
                    <button class="day-add-btn" data-toggle="modal" data-target="#timesheet-modal">
                        <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="dayblock">
            <h4 class="text-center">
                <strong>{{ 'Friday' | trans }}</strong>
                ({{ entity.getStartDate() | date_modify('+4 days') | date('d/m/Y') }})
            </h4>

            <div class="day" data-dow="5">
                <div class="events" data-dow="5"></div>
                {% if create_path is defined %}
                    <button class="day-add-btn" data-toggle="modal" data-target="#timesheet-modal">
                        <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                    </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="dayblock">
            <h4 class="text-center">
                <strong>{{ 'Saturday' | trans }}</strong>
                ({{ entity.getStartDate() | date_modify('+5 days') | date('d/m/Y') }})
            </h4>

            <div class="day" data-dow="6">
                <div class="events" data-dow="6"></div>
                {% if create_path is defined %}
                    <button class="day-add-btn" data-toggle="modal" data-target="#timesheet-modal">
                        <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                    </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="dayblock">
            <h4 class="text-center">
                <strong>{{ 'Sunday' | trans }}</strong>
                ({{ entity.getStartDate() | date_modify('+6 days') | date('d/m/Y') }})
            </h4>

            <div class="day" data-dow="7">
                <div class="events" data-dow="7"></div>
                {% if create_path is defined %}
                    <button class="day-add-btn" data-toggle="modal" data-target="#timesheet-modal">
                        <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% if create_path is defined %}
        <div class="modal fade" id="timesheet-modal" tabindex="-1" role="dialog" aria-labelledby="timesheet-modal-label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="timesheet-modal-label">{{ 'Add a new time period' | trans }}</h4>
                    </div>
                    <form method="POST" action="{{ create_path }}" class="timesheet-event-form">
                        <div class="modal-body">
                            {{ form_widget(form) }}
                        </div>
                        <div class="modal-footer nomargin">
                            <button class="btn btn-primary pull-left timesheet-event-create-btn" type="submit"><i
                                        class="fa fa-check"></i> {{ 'Add' | trans }}</button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><i
                                        class="fa fa-trash-o"></i> {{ 'Close' | trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% if update_path is defined %}
        <div class="modal fade" id="timesheet-event-update-modal" tabindex="-1" role="dialog"
             aria-labelledby="timesheet-event-update-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"
                            id="timesheet-event-update-modal-label">{{ 'Edit a time period' | trans }}</h4>
                    </div>
                    <form method="POST" action="{{ update_path }}" class="timesheet-event-update-form">
                        <div class="modal-body"></div>
                        <div class="modal-footer nomargin">
                            <button class="btn btn-success pull-left timesheet-event-update-btn" type="submit"><i
                                        class="fa fa-check"></i> {{ 'Save' | trans }}</button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><i
                                        class="fa fa-trash-o"></i> {{ 'Cancel' | trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="timesheet-event-modal" tabindex="-1" role="dialog"
         aria-labelledby="timesheet-event-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="timesheet-event-modal-label">{{ 'Details' | trans }}</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer nomargin">
                    {% if update_path is defined %}
                        <button class="btn btn-warning pull-left timesheet-event-edit-btn" data-dismiss="modal"
                                aria-hidden="true"><i class="fa fa-edit"></i> {{ 'Edit' | trans }}</button>
                    {% endif %}
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><i
                                class="fa fa-trash-o"></i> {{ 'Close' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    app_timesheet_data_path = '{{ data_path }}';
    {% if template_list_path is defined %}
    app_timesheet_template_event_list_path = '{{ template_list_path }}';
    {% endif %}
    {% if create_path is defined %}
    app_timesheet_event_create_path = '{{ create_path }}';
    app_fragment_types = {{ fragment_types | serialize('json') | raw }};
    {% endif %}
    {% if delete_path is defined %}
    app_timesheet_event_delete_path = '{{ delete_path }}';
    {% endif %}
    {% if leave_path is defined %}
    app_timesheet_leave_path = '{{ leave_path }}';
    {% endif %}
    {% if comments_path is defined %}
    app_timesheet_comments_path = '{{ comments_path }}';
    {% endif %}

    app_timesheet_req_hours_path = '{{ path('kras_timesheets_req_hours', { id: entity.getId() })}}';

    app_timesheet_get_hours_path = '{{ path('kras_timesheets_get_hours', { id: entity.getId() })}}';


    {% if update_path is defined %}
    app_timesheet_event_update_path = '{{ update_path }}';
    {% endif %}
    {% if duration_update_path is defined %}
    app_timesheet_duration_update_path = '{{ duration_update_path }}';
    {% endif %}
    app_timesheet_locale = {
        no_type: '{{ 'No type set' | trans }}',
        type: '{{ 'Type' | trans }}',
        notes: '{{ 'Notes' | trans }}',
        activity: '{{ 'Activity' | trans }}',
        member: '{{ 'Member' | trans }}',
        training: '{{ 'Training' | trans }}',
        training_price: '{{ 'Price' | trans }}',
        training_organizer: '{{ 'Organizer' | trans }}',
        link: '{{ 'Link' | trans }}',
        start: '{{ 'Start' | trans }}',
        end: '{{ 'End' | trans }}',
        activity_link: '{{ path('kras_myactivity_show', { id: 'ID' }) }}',
        member_link: '{{ path('kras_mymember_show', { id: 'ID' }) }}',
        click_here: '{{ 'click here' | trans }}',
        all_day: '{{ 'all day' | trans }}'
    };
</script>
