<div class="timesheettemplate">
    <div class="row">
        <div class="col-md-3">
            <h4 class="text-center">
                <strong>{{ 'Monday' | trans }}</strong>
            </h4>
            <div class="day" data-dow="1">
                <div class="events" data-dow="1"></div>
                {% if editable %}
                <button class="day-add-btn" data-toggle="modal" data-target="#timesheettemplate-modal">
                    <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="col-md-3">
            <h4 class="text-center">
                <strong>{{ 'Tuesday' | trans }}</strong>
            </h4>
            <div class="day" data-dow="2">
                <div class="events" data-dow="2"></div>
                {% if editable %}
                <button class="day-add-btn" data-toggle="modal" data-target="#timesheettemplate-modal">
                    <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="col-md-3">
            <h4 class="text-center">
                <strong>{{ 'Wednesday' | trans }}</strong>
            </h4>
            <div class="day" data-dow="3">
                <div class="events" data-dow="3"></div>
                {% if editable %}
                <button class="day-add-btn" data-toggle="modal" data-target="#timesheettemplate-modal">
                    <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="col-md-3">
            <h4 class="text-center">
                <strong>{{ 'Thursday' | trans }}</strong>
            </h4>
            <div class="day" data-dow="4">
                <div class="events" data-dow="4"></div>
                {% if editable %}
                <button class="day-add-btn" data-toggle="modal" data-target="#timesheettemplate-modal">
                    <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h4 class="text-center">
                <strong>{{ 'Friday' | trans }}</strong>
            </h4>
            <div class="day" data-dow="5">
                <div class="events" data-dow="5"></div>
                {% if editable %}
                <button class="day-add-btn" data-toggle="modal" data-target="#timesheettemplate-modal">
                    <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="col-md-3">
            <h4 class="text-center">
                <strong>{{ 'Saturday' | trans }}</strong>
            </h4>
            <div class="day" data-dow="6">
                <div class="events" data-dow="6"></div>
                {% if editable %}
                <button class="day-add-btn" data-toggle="modal" data-target="#timesheettemplate-modal">
                    <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                </button>
                {% endif %}
            </div>
        </div>
        <hr class="visible-sm visible-xs">
        <div class="col-md-3">
            <h4 class="text-center">
                <strong>{{ 'Sunday' | trans }}</strong>
            </h4>
            <div class="day" data-dow="7">
                <div class="events" data-dow="7"></div>
                {% if editable %}
                <button class="day-add-btn" data-toggle="modal" data-target="#timesheettemplate-modal">
                    <i class="fa fa-plus-circle"></i> {{ 'Add' | trans }}
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% if editable %}
    <div class="modal fade" id="timesheettemplate-modal" tabindex="-1" role="dialog" aria-labelledby="timesheettemplate-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="timesheettemplate-modal-label">{{ 'Add a new time period' | trans }}</h4>
                </div>
                <form method="POST" action="{{ list_path }}" class="timesheettemplate-event-form">
                    <div class="modal-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="modal-footer nomargin">
                        <button class="btn btn-primary pull-left timesheettemplate-event-create-btn" type="submit"><i class="fa fa-check"></i> {{ 'Add' | trans }}</button>
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><i class="fa fa-trash-o"></i> {{ 'Close' | trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    app_timesheettemplate_event_list_path   = '{{ list_path }}';
    {% if editable %}
    app_timesheettemplate_event_create_path = '{{ create_path }}';
    app_timesheettemplate_event_delete_path = '{{ delete_path }}';
    {% endif %}
</script>
